.mb-social-wrapper
   .mb-socials
      ul.list-unstyled.list-inline
         li
            a.link.facebook(href="#")
               i.fa.fa-facebook
         li
            a.link.twitter(href="#")
               i.fa.fa-twitter
         li
            a.link.pinterest(href="#")
               i.fa.fa-pinterest-p
         li
            a.link.google(href="#")
               i.fa.fa-google
         li
            a.link.instagram(href="#")
               i.fa.fa-linkedin
   .mb-button-close
      i.icons.fa.fa-times
   .clearfix
.mb-login-wrapper
   .mb-guest-wrapper
      .mb-avatar
         .mb-avatar-container
            img.img-responsive(src="assets/images/more-image/avatar.png", alt="")
      .mb-name
         a(href="#").link Sign in
ul.nav.navbar-nav.mb-nav
   li.dropdown
      a.main-menu(href="index.html")
         span.text Home
      span.icons-dropdown
         i.fa.fa-angle-right
      ul.mb-menu-dropdown
         li
            a.sub-menu(href="index.html")
               span.text Homepage 01
         li
            a.sub-menu(href="homepage-2.html")
               span.text Homepage 02
         li
            a.sub-menu(href="homepage-3.html")
               span.text Homepage 03
   li
      a.main-menu(href="about.html")
         span.text about
   li
      a.main-menu(href="reservation.html")
         span.text Reservation
   li.dropdown
      a.main-menu(href="menu-gird.html")
         span.text menu
      span.icons-dropdown
         i.fa.fa-angle-right
      ul.mb-menu-dropdown
         li
            a.sub-menu(href="menu-gird.html")
               span.text menu 1
         li
            a.sub-menu(href="menu-gird-2.html")
               span.text menu 2
   li.dropdown
      a.main-menu(href="blog.html")
         span.text blog
      span.icons-dropdown
         i.fa.fa-angle-right
      ul.mb-menu-dropdown
         li
            a.sub-menu(href="blog.html")
               span.text blog
         li
            a.sub-menu(href="blog-left-sidebar.html")
               span.text blog left sidebar
         li
            a.sub-menu(href="blog-detail.html")
               span.text blog detail
         //- li.dropdown-2
         //-    a.sub-menu(href="blog-detail.html")
         //-       span.text more page
         //-    span.icons-dropdown
         //-       i.fa.fa-angle-right
         //-    ul.mb-menu-dropdown-2
         //-       li
         //-          a.sub-menu(href="blog.html")
         //-             span.text blog sidebar left
         //-       li
         //-          a.sub-menu(href="blog-detail.html")
         //-             span.text blog two column
   li.dropdown
      a.main-menu(href="javascript:void(0)")
         span.text pages
      span.icons-dropdown
         i.fa.fa-angle-right
      ul.mb-menu-dropdown
         li
            a.sub-menu(href="event.html")
               span.text event
         li
            a.sub-menu(href="gallery-isotope.html")
               span.text gallery
         li
            a.sub-menu(href="404.html")
               span.text page 404      
   li
      a.main-menu(href='contact.html')
         span.text contact