section.page-404
    .container
        h2.title PAGE NOT FOUND
        .group-btn
            a.btn.btn-right.btn-subcolor(href="#")  get help
            a.btn.btn-left.btn-maincolor(href="index.html") Back to home