section.morepage-banner-wrapper.menu-gird-2
    .container
        .morepage-banner
            .group-icons
                i.icons.flaticon-anchor-1
            h2.title The Menu Grid 02
            ol.breadcrumb
                li
                    a.link(href='index.html') Home
                li.active
                    a.link(href='#') Menu
section.page-main.padding-top-100.padding-bottom-100
    .container
        .meal-wrapper.padding-bottom-100
            .main-title-2
                .icons //
                h2.title breakfast
            .main-content
                p.description-menu Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci di dunt ut labore et dolore magna aliqua. Ut enim ad minim reprehederit veniam excepteur sint occacat cupidatat non proident
                .more-image
                    img.img-responsive(src="assets/images/seafood/breakfast.png", alt="")
                != partial("_includes/list-menu/list-menu-2")
        .meal-wrapper.padding-bottom-100
            .main-title-2
                .icons //
                h2.title lunch
            .main-content
                p.description-menu Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci di dunt ut labore et dolore magna aliqua. Ut enim ad minim reprehederit veniam excepteur sint occacat cupidatat non proident
                .more-image
                    img.img-responsive(src="assets/images/seafood/lunch.png", alt="")
                != partial("_includes/list-menu/list-menu-2-b")
        .meal-wrapper
            .main-title-2
                .icons //
                h2.title dinner
            .main-content
                p.description-menu Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci di dunt ut labore et dolore magna aliqua. Ut enim ad minim reprehederit veniam excepteur sint occacat cupidatat non proident
                .more-image
                    img.img-responsive(src="assets/images/seafood/dinner.png", alt="")
                != partial("_includes/list-menu/list-menu-2-c")
!= partial("_includes/subscribe-email")
