.recent-post-widget.widget
    .title-widget RECENT POST
    .content-widget
        .recent-post-list
            .single-recent-post-widget
                .post-info
                    .meta-info
                        span Aug 18, 2016
                        span.sep /
                        span.fa-custom.view-count 56
                        span.fa-custom.comment-count 239
                    .description Donec ullamcorper nulla non metus nisi auctor fringilla they can do
                a.thumb.img-wrapper(href="blog-detail.html")
                    img.img-responsive(src="assets/images/menu/small-menu-7.jpg", alt="")
            .single-recent-post-widget
                .post-info
                    .meta-info
                        span Aug 18, 2016
                        span.sep /
                        span.fa-custom.view-count 56
                        span.fa-custom.comment-count 239
                    .description Donec ullamcorper nulla non metus nisi auctor fringilla they can do
                a.thumb.img-wrapper(href="blog-detail.html")
                    img(src="assets/images/menu/small-menu-9.jpg", alt="")
            .single-recent-post-widget
                .post-info
                    .meta-info
                        span Aug 18, 2016
                        span.sep /
                        span.fa-custom.view-count 56
                        span.fa-custom.comment-count 239
                    .description Donec ullamcorper nulla non metus nisi auctor fringilla they can do
                a.thumb.img-wrapper(href="blog-detail.html")
                    img.img-responsive(src="assets/images/menu/small-menu-10.jpg", alt="")
            .single-recent-post-widget
                .post-info
                    .meta-info
                        span Aug 18, 2016
                        span.sep /
                        span.fa-custom.view-count 56
                        span.fa-custom.comment-count 239
                    .description Donec ullamcorper nulla non metus nisi auctor fringilla they can do
                a.thumb.img-wrapper(href="blog-detail.html")
                    img.img-responsive(src="assets/images/menu/small-menu-8.jpg", alt="")
            .single-recent-post-widget
                .post-info
                    .meta-info
                        span Aug 18, 2016
                        span.sep /
                        span.fa-custom.view-count 56
                        span.fa-custom.comment-count 239
                    .description Donec ullamcorper nulla non metus nisi auctor fringilla they can do
                a.thumb.img-wrapper(href="blog-detail.html")
                    img.img-responsive(src="assets/images/menu/small-menu-4.jpg", alt="")