nav.pagination-list.margin-top-50
    ul.pagination
        li
            a.btn-pagination.previous(href='#', aria-label='Previous')
                span(aria-hidden='true').fa.fa-angle-left
        li
            a.btn-pagination.active(href='#') 9
        li
            a.btn-pagination(href='#') ...
        li
            a.btn-pagination(href='#') 2
        li
            a.btn-pagination(href='#') 1
        li
            a.btn-pagination.next(href='#', aria-label='Next')
                span(aria-hidden='true').fa.fa-angle-right