.search-widget.widget
    form
        .input-group.search-wrapper
            span.input-group-btn
                button.btn.submit-btn(type="submit")
                    span.fa.fa-search
            input.search-input.form-control(type="text", placeholder="...Search")