.tags-widget.widget
    .title-widget TAGS
    .content-widget
        a.tag(href="javascript:void(0)") Design
        a.tag(href="javascript:void(0)") Recipes
        a.tag(href="javascript:void(0)") Event
        a.tag(href="javascript:void(0)") Seafood
        a.tag(href="javascript:void(0)") Design
        a.tag(href="javascript:void(0)") Recipes
        a.tag(href="javascript:void(0)") Event
        a.tag(href="javascript:void(0)") Seafood
        a.tag(href="javascript:void(0)") Design
        a.tag(href="javascript:void(0)") Recipes
        a.tag(href="javascript:void(0)") Event
        a.tag(href="javascript:void(0)") Seafood