.row
    .col-sm-6
        .menu-items.style-3.white
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/small-menu-11.jpg", alt="")
            .item-content
                a.title(href="#")
                    .name Annalisa Tomato
                    .price
                        sup $
                        span 36.00
                .desciption Lorem ipsum dolor sit a met, consec tetur.
    .col-sm-6
        .menu-items.style-3.white
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/small-menu-12.jpg", alt="")
            .item-content
                a.title(href="#")
                    .name Crab & Tarracon Tart
                    .price
                        sup $
                        span 42.00
                .desciption Lorem ipsum dolor sit a met, consec tetur.
    .col-sm-6
        .menu-items.style-3.white
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/small-menu-10.jpg", alt="")
            .item-content
                a.title(href="#")
                    .name Kung pao pastrami
                    .price
                        sup $
                        span 56.00
                .desciption Lorem ipsum dolor sit a met, consec tetur.
    .col-sm-6
        .menu-items.style-3.white
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/small-menu-9.jpg", alt="")
            .item-content
                a.title(href="#")
                    .name Chicken Doro Wat
                    .price
                        sup $
                        span 79.00
                .desciption Lorem ipsum dolor sit a met, consec tetur.
    .col-sm-6
        .menu-items.style-3.white
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/small-menu-8.jpg", alt="")
            .item-content
                a.title(href="#")
                    .name Jalapeno Mango Salsa
                    .price
                        sup $
                        span 55.00
                .desciption Lorem ipsum dolor sit a met, consec tetur.
    .col-sm-6
        .menu-items.style-3.white
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/small-menu-7.jpg", alt="")
            .item-content
                a.title(href="#")
                    .name Masala Spiced Chickpeas
                    .price
                        sup $
                        span 60.00
                .desciption Lorem ipsum dolor sit a met, consec tetur.
