.row
    
    .col-sm-6
        .menu-items.style-1
            a.title(href="#")
                .name Masala Spiced Chickpeas
                .price
                    sup $
                    span 73.00
            .desciption Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse aldea orem do eiusmod tempor.
    .col-sm-6
        .menu-items.style-1
            a.title(href="#")
                .name Crab & Tarracon Tart
                .price
                    sup $
                    span 38.00
            .desciption Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse aldea orem do eiusmod tempor.
    .col-sm-6
        .menu-items.style-1
            a.title(href="#")
                .name Kung pao pastrami
                .price
                    sup $
                    span 55.00
            .desciption Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse aldea orem do eiusmod tempor.
    .col-sm-6
        .menu-items.style-1
            a.title(href="#")
                .name hambuger crawfish
                .price
                    sup $
                    span 32.00
            .desciption Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse aldea orem do eiusmod tempor.
    .col-sm-6
        .menu-items.style-1
            a.title(href="#")
                .name mexico Mango Salas
                .price
                    sup $
                    span 49.00
            .desciption Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse aldea orem do eiusmod tempor.
    .col-sm-6
        .menu-items.style-1
            a.title(href="#")
                .name Chicken Doro Wat
                .price
                    sup $
                    span 54.00
            .desciption Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse aldea orem do eiusmod tempor.
    .col-sm-6
        .menu-items.style-1
            a.title(href="#")
                .name Annalisa Tomato
                .price
                    sup $
                    span 38.00
            .desciption Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse aldea orem do eiusmod tempor.
    .col-sm-6
        .menu-items.style-1
            a.title(href="#")
                .name Jalapeno Mango Salsa
                .price
                    sup $
                    span 68.00
            .desciption Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse aldea orem do eiusmod tempor.
    