.row
    .col-md-4.col-sm-4
        .menu-items.style-4
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/big-menu-3.jpg", alt="")
            .item-content
                .price
                    sup $
                    span 58.00
                a.title(href="#") West Coast Rock Oysters
                .desciption Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. 
    .col-md-4.col-sm-4
        .menu-items.style-4
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/big-menu-19.jpg", alt="")
            .item-content
                .price
                    sup $
                    span 60.00
                a.title(href="#") West Coast Rock Oysters
                .desciption Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. 
    .col-md-4.col-sm-4
        .menu-items.style-4
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/big-menu-6.jpg", alt="")
            .item-content
                .price
                    sup $
                    span 72.00
                a.title(href="#") West Coast Rock Oysters
                .desciption Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. 
    .col-md-4.col-sm-4
        .menu-items.style-4
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/big-menu-8.jpg", alt="")
            .item-content
                .price
                    sup $
                    span 50.00
                a.title(href="#") West Coast Rock Oysters
                .desciption Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. 
    .col-md-4.col-sm-4
        .menu-items.style-4
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/big-menu-15.jpg", alt="")
            .item-content
                .price
                    sup $
                    span 46.00
                a.title(href="#") West Coast Rock Oysters
                .desciption Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. 
    .col-md-4.col-sm-4
        .menu-items.style-4
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/big-menu-17.jpg", alt="")
            .item-content
                .price
                    sup $
                    span 40.00
                a.title(href="#") West Coast Rock Oysters
                .desciption Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. 
