.row
    .col-md-4.col-sm-4
        .menu-items.style-4
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/big-menu-2.jpg", alt="")
            .item-content
                .price
                    sup $
                    span 54.00
                a.title(href="#") West Coast Rock Oysters
                .desciption Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. 
    .col-md-4.col-sm-4
        .menu-items.style-4
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/big-menu-5.jpg", alt="")
            .item-content
                .price
                    sup $
                    span 43.00
                a.title(href="#") West Coast Rock Oysters
                .desciption Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. 
    .col-md-4.col-sm-4
        .menu-items.style-4
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/big-menu-7.jpg", alt="")
            .item-content
                .price
                    sup $
                    span 62.00
                a.title(href="#") West Coast Rock Oysters
                .desciption Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. 
    .col-md-4.col-sm-4
        .menu-items.style-4
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/big-menu-9.jpg", alt="")
            .item-content
                .price
                    sup $
                    span 24.00
                a.title(href="#") West Coast Rock Oysters
                .desciption Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. 
    .col-md-4.col-sm-4
        .menu-items.style-4
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/big-menu-10.jpg", alt="")
            .item-content
                .price
                    sup $
                    span 36.00
                a.title(href="#") West Coast Rock Oysters
                .desciption Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. 
    .col-md-4.col-sm-4
        .menu-items.style-4
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/big-menu-11.jpg", alt="")
            .item-content
                .price
                    sup $
                    span 43.00
                a.title(href="#") West Coast Rock Oysters
                .desciption Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. 
