.row
    .col-md-4.col-sm-4.col-xs-6
        .menu-items.style-4
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/big-menu-17.jpg", alt="")
            .item-content
                .price
                    sup $
                    span 47.00
                a.title(href="#") West Coast Rock Oysters
                .desciption Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. 
    .col-md-4.col-sm-4.col-xs-6
        .menu-items.style-4
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/big-menu-6.jpg", alt="")
            .item-content
                .price
                    sup $
                    span 53.00
                a.title(href="#") West Coast Rock Oysters
                .desciption Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. 
    .col-md-4.col-sm-4.col-xs-6
        .menu-items.style-4
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/big-menu-1.jpg", alt="")
            .item-content
                .price
                    sup $
                    span 48.00
                a.title(href="#") West Coast Rock Oysters
                .desciption Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. 
    .col-md-4.col-sm-4.col-xs-6
        .menu-items.style-4
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/big-menu-19.jpg", alt="")
            .item-content
                .price
                    sup $
                    span 61.00
                a.title(href="#") West Coast Rock Oysters
                .desciption Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. 
    .col-md-4.col-sm-4.col-xs-6
        .menu-items.style-4
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/big-menu-15.jpg", alt="")
            .item-content
                .price
                    sup $
                    span 39.00
                a.title(href="#") West Coast Rock Oysters
                .desciption Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. 
    .col-md-4.col-sm-4.col-xs-6
        .menu-items.style-4
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/big-menu-12.jpg", alt="")
            .item-content
                .price
                    sup $
                    span 56.00
                a.title(href="#") West Coast Rock Oysters
                .desciption Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. 
