.row
    .col-md-6
        .menu-items.style-2
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/menu-13.jpg", alt="")
            .item-content
                a.title(href="#")
                    .name Jalapeno Mango Salsa
                    .price
                        sup $
                        span 48.00
                .desciption Lorem ipsum dolor sit a met, consec teturie adipisi cing elitse dorem.
    .col-md-6
        .menu-items.style-2
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/menu-14.jpg", alt="")
            .item-content
                a.title(href="#")
                    .name Kung pao pastrami
                    .price
                        sup $
                        span 55.00
                .desciption Lorem ipsum dolor sit a met, consec teturie adipisi cing elitse dorem.
    .col-md-6
        .menu-items.style-2
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/menu-15.jpg", alt="")
            .item-content
                a.title(href="#")
                    .name Chicken Doro Wat
                    .price
                        sup $
                        span 54.00
                .desciption Lorem ipsum dolor sit a met, consec teturie adipisi cing elitse dorem.
    .col-md-6
        .menu-items.style-2
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/menu-16.jpg", alt="")
            .item-content
                a.title(href="#")
                    .name hambuger crawfish
                    .price
                        sup $
                        span 32.00
                .desciption Lorem ipsum dolor sit a met, consec teturie adipisi cing elitse dorem.
!= partial("../widgets/pagination")
