<h1 class="title-bg">
    <p data-parallax="{&quot;z&quot;: -500}">The </p>
    <p data-parallax="{&quot;z&quot;: -450}">true </p>
    <p data-parallax="{&quot;z&quot;: -375}">taste </p>
    <p data-parallax="{&quot;z&quot;: -290}">of </p>
    <p data-parallax="{&quot;z&quot;: -200}">Gamba</p>
  </h1>
  <div data-parallax="{&quot;y&quot;: -120}" class="infomation-wrapper">
    <h2 class="title">enjoy seafood restaurant template!</h2>
    <p class="description">The Seafood Restaurant has been voted by locals as "Best in the area" year after year. We actively seek out the freshest in regional seafood and produce our restaurant is expanding.</p><a href="#" class="btn btn-subcolor">purchase now</a>
  </div>
  <div data-parallax="{&quot;y&quot;: 100, &quot;z&quot;: -200}" class="img-wrapper"><img src="public/images/more-image/item-fish.png" alt="" class="img-responsive"/></div>
  <div data-parallax="{&quot;x&quot;: 1920, &quot;distance&quot;: 0, &quot;smoothness&quot;: 800}" class="img-wrapper-2"><img src="public/images/seafood/swordfish-4.png" alt="" class="img-responsive"/></div>