<div class="container">
  <slick class="list-infomation padding-top-100 padding-bottom-100" autoplay="true" arrows="false" dots="false" slides-to-show="3">
    <div class="infomation-item"><i class="icons flaticon-transport"></i>
      <h4 class="title">Seafood Restaurant</h4>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci di dunt ut labore</p><a href="#" class="btn btn-maincolor">get start</a>
    </div>
    <div class="infomation-item"><i class="icons flaticon-lobster-1"></i>
      <h4 class="title">Sea Product Store</h4>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci di dunt ut labore</p><a href="#" class="btn btn-maincolor">get start</a>
    </div>
    <div class="infomation-item"><i class="icons flaticon-anchor"></i>
      <h4 class="title">Ship Restaurant</h4>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci di dunt ut labore</p><a href="#" class="btn btn-maincolor">get start</a>
    </div>
    <div class="infomation-item"><i class="icons flaticon-book"></i>
      <h4 class="title">VIP Customer</h4>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci di dunt ut labore</p><a href="#" class="btn btn-maincolor">get start</a>
    </div>
  </slick>
</div>