 <div class="container">
    <div class="main-title-2">
      <div class="icons">//</div>
      <h2 class="title">event for the week</h2>
    </div>
    <div class="coming-soon-wrapper">
      <div class="left-infomation">
        <div class="logo-bg">
          <slick class="list-logo" arrows="false" dots="false" speed="500" slides-to-show="3" slides-to-scroll="1" infinite="false" autoplay="true" autoplay-speed="5000">
            <div class="item"><a href="#" class="link"><img src="public/images/more-image/logo-1.png" alt="" class="img-responsive"/></a><a href="#" class="link"><img src="public/images/more-image/logo-4.png" alt="" class="img-responsive"/></a></div>
            <div class="item"><a href="#" class="link"><img src="public/images/more-image/logo-2.png" alt="" class="img-responsive"/></a><a href="#" class="link"><img src="public/images/more-image/logo-5.png" alt="" class="img-responsive"/></a></div>
            <div class="item"><a href="#" class="link"><img src="public/images/more-image/logo-3.png" alt="" class="img-responsive"/></a><a href="#" class="link"><img src="public/images/more-image/logo-6.png" alt="" class="img-responsive"/></a></div>
            <div class="item"><a href="#" class="link"><img src="public/images/more-image/logo-4.png" alt="" class="img-responsive"/></a><a href="#" class="link"><img src="public/images/more-image/logo-1.png" alt="" class="img-responsive"/></a></div>
          </slick>
        </div>
      </div>
      <div class="right-infomation">
        <div class="coming-soon-event-wrapper">
          <div class="main-content">
            <div class="infomation">
              <h4 class="title">Bring Sea On The Table</h4>
              <p class="date">Tuesday 15/12/15, 6:00 am</p>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci di dunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="coming-soon-count countdown">
              <canvas id="timer" class="count-container"></canvas>
              <div class="count-wrapper">
                <div class="time days"><span id="days" class="count">{{ timeTillEvent.daysLeft }}</span></div>
                <div class="time-label">days</div>
              </div>
              <div class="count-wrapper">
                <div class="time hours"><span id="hours" class="count">{{ timeTillEvent.hoursLeft }}</span></div>
                <div class="time-label">hours</div>
              </div>
              <div class="count-wrapper">
                <div class="time minutes"><span id="minutes" class="count">{{ timeTillEvent.minutesLeft }}</span></div>
                <div class="time-label">mins</div>
              </div>
              <div class="clearfix"></div>
            </div><a href="" class="btn btn-maincolor">resever now</a>
          </div>
        </div>
      </div>
    </div>
  </div>