<div class="container">
    <div class="coming-soon-wrapper">
        <div class="left-infomation">
            <div class="open-hours-bg">
                <div class="open-hours-wrapper">
                    <div class="title">opening hour</div>
                    <div class="content">
                        <div class="item">
                            <p class="day">monday</p>
                            <p class="time">9.00 - 22.00</p>
                        </div>
                        <div class="item">
                            <p class="day">tuesday</p>
                            <p class="time">9.00 - 22.00</p>
                        </div>
                        <div class="item">
                            <p class="day">webnesday</p>
                            <p class="time">9.00 - 22.00</p>
                        </div>
                        <div class="item">
                            <p class="day">thurday</p>
                            <p class="time">9.00 - 22.00</p>
                        </div>
                        <div class="item">
                            <p class="day">friday</p>
                            <p class="time">9.00 - 22.00</p>
                        </div>
                        <div class="item">
                            <p class="day">saturday</p>
                            <p class="time">10.00 - 1.00</p>
                        </div>
                        <div class="item">
                            <p class="day">sunday</p>
                            <p class="time">10.00 - 22.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-infomation">
            <div class="coming-soon-event-wrapper padding-top-100 padding-bottom-100">
                <div class="main-title">
                    <div class="bg-image"><img src="public/images/seafood/shrimp.png" alt="" /></div>
                    <h2 class="title">upcoming event</h2>
                </div>
                <div class="main-content">
                    <div class="infomation">
                        <h4 class="title">Bring Sea On The Table</h4>
                        <p class="date">Tuesday 15/12/15, 6:00 am</p>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci di dunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="coming-soon-count countdown">
                        <canvas id="timer" class="count-container"></canvas>
                        <div class="count-wrapper">
                            <div class="time days"><span id="days" class="count"></span></div>
                            <div class="time-label">days</div>
                        </div>
                        <div class="count-wrapper">
                            <div class="time hours"><span id="hours" class="count"></span></div>
                            <div class="time-label">hours</div>
                        </div>
                        <div class="count-wrapper">
                            <div class="time minutes"><span id="minutes" class="count"></span></div>
                            <div class="time-label">mins</div>
                        </div>
                        <div class="clearfix"></div>
                    </div><a href="" class="btn btn-maincolor">resever now</a>
                </div>
            </div>
        </div>
    </div>
</div>
