<div class="footer">
  <div class="footer-wrapper">
    <div class="footer-main padding-bottom-100">
      <div class="container">
        <div class="footer-main-wrapper">
          <div class="row">
            <div class="col-2">
              <div class="col-md-3 col-xs-6">
                <div class="gamba-descripton widget"><img src="public/images/logo/gamba-2.png" alt="" class="logo-foogter"/>
                  <p class="text">Ut enim ad minim veniam, quis nostrud cittion ullamco laboris nisi ut aliquip cosquat uis aute irure dolor ullamco nisi inkabris reprhenderit  labore. cosquat uis aute irure dolor ullamco.</p>
                </div>
              </div>
              <div class="col-md-3 col-xs-6">
                <div class="gamba-info widget">
                  <div class="title">Delivery Service</div>
                  <div class="content-widget">
                    <div class="info-list">
                      <ul class="list-unstyled">
                        <li><i class="icons fa fa-envelope-o"></i><a href="#" class="link">hello@gamba.com</a></li>
                        <li><i class="icons fa fa-map-marker"></i><a href="#" class="link">416 Ridge Road, Pratt, KS 67124</a></li>
                        <li><i class="icons fa fa-phone"></i><a href="#" class="link link-2">(+1) 090-016-679 <br> (+1) 092-552-179</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="col-md-3 col-xs-6">
                <div class="gamba-opentime widget">
                  <div class="title">Opening Time</div>
                  <div class="content-widget">
                    <div class="time-service">
                      <div class="title-time">lunch service</div>
                      <div class="content-time">friday - sunday: 11am - 1.30pm</div>
                    </div>
                    <div class="time-service">
                      <div class="title-time">dinner service</div>
                      <div class="content-time">Daily: Bookings available 6am - 9.30pm</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-xs-6">
                <div class="gamba-gallery widget">
                  <div class="title">gallery</div>
                  <slick class="content-widget">
                    <div class="item"> <img src="public/images/footer/gallery-1.jpg" alt=""/></div>
                    <div class="item"> <img src="public/images/footer/gallery-2.jpg" alt=""/></div>
                    <div class="item"> <img src="public/images/footer/gallery-3.jpg" alt=""/></div>
                  </slick>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hyperlink">
      <div class="container">
        <div class="name-company pull-left">&copy; Designed by GAMBA.</div>
        <div class="social-footer pull-right">
          <ul class="list-inline list-unstyled">
            <li><a href="#" class="link facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="link twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="link pinterest"><i class="fa fa-pinterest-p"></i></a></li>
            <li><a href="#" class="link google"><i class="fa fa-google"></i></a></li>
            <li><a href="#" class="link instagram"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>