<div class="container">
    <div class="main-title">
      <div class="bg-image"><img src="public/images/seafood/cuttle.png" alt="" class="cuttle"/></div>
      <h2 class="title">news of the day</h2>
    </div>
    <div class="main-content">
      <slick class="list-news" arrows="false" dots="true" infinite="true" slidesToShow="1" slidesToScroll="1" speed="500">
        <div class="item">
          <div class="images"><img src="public/images/news/news-1.jpg" alt=""/></div>
          <div class="infomation">
            <div class="blog-detail-content">
              <div class="dates">
                <div class="day">27</div>
                <div class="month-year">Aug-2016</div>
              </div>
              <div class="content"><a href="blog.html" class="title">Fish Tales sells all sorts of fresh fish.</a>
                <div class="info">
                  <div class="item tag"><a href="#" class="link">Food</a><a href="#" class="link">Recipes</a></div>
                  <div class="item date"> <i class="fa fa-calendar-o"></i><span>08 - 27 - 2016</span></div>
                  <div class="item comments"><i class="fa fa-comments-o"></i><span>26</span></div>
                </div>
                <div class="description">
                  <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci di dunt ut labore et dolore magna aliqua. Ut enim ad minim derit veniam, quis nos trud exercitation.</p>
                  <p class="text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia runt sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium eaque ipsa quae ab illo inventore veritatis et. Excepteur sint occaecat datat non proident, sunt in culpa qui officia runt sed ut perspiciatis unde omnis iste natus errorinventore veritatis et.</p>
                </div><a href="blog.html" class="btn-readmore">read more</a>
                <div class="tags">
                  <div class="title">tags</div>
                  <ul class="list-inline list-tag">
                    <li><a href="#" class="name">Design</a></li>
                    <li><a href="#" class="name">Recipes</a></li>
                    <li><a href="#" class="name">Event</a></li>
                    <li><a href="#" class="name">Sea food</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="item">
          <div class="images"><img src="public/images/news/news-2.jpg" alt=""/></div>
          <div class="infomation">
            <div class="blog-detail-content">
              <div class="dates">
                <div class="day">28</div>
                <div class="month-year">Aug-2016</div>
              </div>
              <div class="content"><a href="blog.html" class="title">Fish Tales sells all sorts of fresh fish.</a>
                <div class="info">
                  <div class="item tag"><a href="#" class="link">Food</a><a href="#" class="link">Recipes</a></div>
                  <div class="item date"> <i class="fa fa-calendar-o"></i><span>08 - 28 - 2016</span></div>
                  <div class="item comments"><i class="fa fa-comments-o"></i><span>30</span></div>
                </div>
                <div class="description">
                  <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci di dunt ut labore et dolore magna aliqua. Ut enim ad minim derit veniam, quis nos trud exercitation.</p>
                  <p class="text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia runt sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium eaque ipsa quae ab illo inventore veritatis et. Excepteur sint occaecat datat non proident, sunt in culpa qui officia runt sed ut perspiciatis unde omnis iste natus errorinventore veritatis et.</p>
                </div><a href="blog.html" class="btn-readmore">read more</a>
                <div class="tags">
                  <div class="title">tags</div>
                  <ul class="list-inline list-tag">
                    <li><a href="#" class="name">Drink</a></li>
                    <li><a href="#" class="name">Gamba</a></li>
                    <li><a href="#" class="name">Event</a></li>
                    <li><a href="#" class="name">Sea food</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="item">
          <div class="images"><img src="public/images/news/news-3.jpg" alt=""/></div>
          <div class="infomation">
            <div class="blog-detail-content">
              <div class="dates">
                <div class="day">29</div>
                <div class="month-year">Aug-2016</div>
              </div>
              <div class="content"><a href="blog.html" class="title">Fish Tales sells all sorts of fresh fish.</a>
                <div class="info">
                  <div class="item tag"><a href="#" class="link">Food</a><a href="#" class="link">Recipes</a></div>
                  <div class="item date"> <i class="fa fa-calendar-o"></i><span>08 - 29 - 2016</span></div>
                  <div class="item comments"><i class="fa fa-comments-o"></i><span>42</span></div>
                </div>
                <div class="description">
                  <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci di dunt ut labore et dolore magna aliqua. Ut enim ad minim derit veniam, quis nos trud exercitation.</p>
                  <p class="text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia runt sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium eaque ipsa quae ab illo inventore veritatis et. Excepteur sint occaecat datat non proident, sunt in culpa qui officia runt sed ut perspiciatis unde omnis iste natus errorinventore veritatis et.</p>
                </div><a href="blog.html" class="btn-readmore">read more</a>
                <div class="tags">
                  <div class="title">tags</div>
                  <ul class="list-inline list-tag">
                    <li><a href="#" class="name">Food</a></li>
                    <li><a href="#" class="name">restaurant</a></li>
                    <li><a href="#" class="name">Event</a></li>
                    <li><a href="#" class="name">Sea food</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </slick>
    </div>
  </div>