<div id="banner-slider">
	<div class="banner-slider-wrapper">
		<div class="container">
			<div class="banner-main">
				<h1 class="banner-title">Save money <span>shopping</span></h1>
				<div class="filter-section">
					<form name="form-filter-category" class="form-filter-category">
						<div class="box-filter">
							<input type="text" class="input-filter form-control" />
							<div class="btn-category">
								<div class="btn-group mega-menu-dropdown mega-menu-full">
								  <button type="button" class="btn btn-black dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    All category &nbsp;&nbsp;<i class="ion-ios-arrow-down"></i>
								  </button>
								  <ul class="dropdown-menu dropdown-menu-filter ">
								    <li>
								    	<div class="mega-menu-content">
								    		<div class="row">
	                                            <div class="col-md-4">
	                                                <ul class="mega-menu-submenu">
	                                                    <li><h3>UI Elements</h3></li>
	                                                    <li><a href="ui_buttons.html"><i class="fa fa-angle-right"></i><span class="submenu-title">Buttons</span></a></li>
	                                                    <li><a href="ui_components.html"><i class="fa fa-angle-right"></i><span class="submenu-title">Components</span></a>
	                                                    </li>
	                                                    <li><a href="ui_typography.html"><i class="fa fa-angle-right"></i><span class="submenu-title">Typography</span></a>
	                                                    </li>
	                                                    <li><a href="ui_modal_notification.html"><i class="fa fa-angle-right"></i><span class="submenu-title">Modals &amp; Notifications</span></a>
	                                                    </li>
	                                                    <li><a href="ui_panels.html"><i class="fa fa-angle-right"></i><span class="submenu-title">Panels</span></a></li>
	                                                    <li><a href="ui_tabs_accordions.html"><i class="fa fa-angle-right"></i><span class="submenu-title">Tabs &amp; Accordions</span></a>
	                                                    </li>
	                                                    <li><a href="ui_grids.html"><i class="fa fa-angle-right"></i><span class="submenu-title">Grids</span></a></li>
	                                                    <li><a href="ui_nestable.html"><i class="fa fa-angle-right"></i><span class="submenu-title">Nestable</span></a>
	                                                    </li>
	                                                    <li><a href="ui_treeview.html"><i class="fa fa-angle-right"></i><span class="submenu-title">Treeview</span></a>
	                                                    </li>
	                                                </ul>
	                                            </div>
	                                            <div class="col-md-4">
	                                                <ul class="mega-menu-submenu">
	                                                    <li><h3>Icon Sets</h3></li>
	                                                    <li><a href="icon_fontawesome.html"><i class="fa fa-angle-right"></i><span class="submenu-title">Font Awesome</span></a>
	                                                    </li>
	                                                    <li><a href="icon_simple_line_icon.html"><i class="fa fa-angle-right"></i><span class="submenu-title">Simple Line Icons</span></a>
	                                                    </li>
	                                                    <li><a href="icon_ionicons.html"><i class="fa fa-angle-right"></i><span class="submenu-title">Ionicons</span></a>
	                                                    </li>
	                                                    <li><a href="icon_social.html"><i class="fa fa-angle-right"></i><span class="submenu-title">Social Icons</span></a>
	                                                    </li>
	                                                </ul>
	                                            </div>
	                                            <div class="col-md-4">
	                                                <ul class="mega-menu-submenu">
	                                                    <li><h3>Form Stuff</h3></li>
	                                                    <li><a href="form_controls.html"><i class="fa fa-angle-right"></i><span class="submenu-title">Form Controls</span></a>
	                                                    </li>
	                                                    <li><a href="form_plugins.html"><i class="fa fa-angle-right"></i><span class="submenu-title">Form Plugins</span></a>
	                                                    </li>
	                                                    <li><a href="form_select.html"><i class="fa fa-angle-right"></i><span class="submenu-title">Form Select</span></a>
	                                                    </li>
	                                                    <li><a href="form_layouts.html"><i class="fa fa-angle-right"></i><span class="submenu-title">Form Layouts</span></a>
	                                                    </li>
	                                                    <li><a href="form_validation.html"><i class="fa fa-angle-right"></i><span class="submenu-title">Form Validation</span></a></li>
	                                                    <li><a href="form_wizard.html"><i class="fa fa-angle-right"></i><span class="submenu-title">Form Wizard</span></a>
	                                                    </li>
	                                                    <li><a href="form_editors.html"><i class="fa fa-angle-right"></i><span class="submenu-title">Form Editors</span></a>
	                                                    </li>
	                                                </ul>
	                                            </div>
	                                        </div>
								    	</div>
								    </li>
								  </ul>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
