<div class="container">
    <div class="subscribe-email-wrapper">
      <div class="subscribe-email-left">
        <p class="subscribe-email-title">Check how all the dishes are cooked today!</p>
        <p class="subscribe-email-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet.</p>
      </div>
      <div class="subscribe-email-right">
        <form>
          <div class="input-group form-subscribe-email">
            <input type="text" placeholder="Type Your Email" class="form-control"/><span class="input-group-btn">
              <button type="submit" class="btn-email">Get Offer</button></span>
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>