<div class="container">
  <div class="testimonial-list">
    <slick class="slider-nav" as-nav-for=".slider-for" arrows="false" dots="false" slides-to-show="3" slides-to-scroll="1" center-mode="true" focus-on-select="true" center-padding="0">
      <div class="avatar-item">
        <div class="image"><img src="public/images/more-image/people-1.jpg" alt="" class="img-responsive"/></div>
      </div>
      <div class="avatar-item">
        <div class="image"><img src="public/images/more-image/people-2.jpg" alt="" class="img-responsive"/></div>
      </div>
      <div class="avatar-item">
        <div class="image"><img src="public/images/more-image/people-3.jpg" alt="" class="img-responsive"/></div>
      </div>
      <div class="avatar-item">
        <div class="image"><img src="public/images/more-image/people-4.jpg" alt="" class="img-responsive"/></div>
      </div>
    </slick>
    <slick class="slider-for" as-nav-for=".slider-nav" arrows="false" slides-to-show="1" slides-to-scroll="1">
      <div class="testimonial-item">
        <div class="icons"> <span>&#10077;</span></div>
        <div class="news-content">
          <div class="content"><a href="#" class="name">Howard K. Stern</a>
            <p class="text">Fiot SG_Korean</p>
          </div>
          <p class="description">It is a long established fact that a reader will be distracted by the readable con tent of a page nomao when looking at its layout. The point of using Ipsum is that it has a more-or-less normal distribution of letters.</p>
        </div>
      </div>
      <div class="testimonial-item">
        <div class="icons"> <span>&#10077;</span></div>
        <div class="news-content">
          <div class="content"><a href="#" class="name">james smith</a>
            <p class="text">doctor HH_ABC</p>
          </div>
          <p class="description">It is a long established fact that a reader will be distracted by the readable con tent of a page nomao when looking at its layout. The point of using Ipsum is that it has a more-or-less normal distribution of letters.</p>
        </div>
      </div>
      <div class="testimonial-item">
        <div class="icons"> <span>&#10077;</span></div>
        <div class="news-content">
          <div class="content"><a href="#" class="name">Tristan luffy</a>
            <p class="text">famer Mexico</p>
          </div>
          <p class="description">It is a long established fact that a reader will be distracted by the readable con tent of a page nomao when looking at its layout. The point of using Ipsum is that it has a more-or-less normal distribution of letters.</p>
        </div>
      </div>
      <div class="testimonial-item">
        <div class="icons"> <span>&#10077;</span></div>
        <div class="news-content">
          <div class="content"><a href="#" class="name">david booly</a>
            <p class="text">student japan   </p>
          </div>
          <p class="description">It is a long established fact that a reader will be distracted by the readable con tent of a page nomao when looking at its layout. The point of using Ipsum is that it has a more-or-less normal distribution of letters.</p>
        </div>
      </div>
    </slick>
  </div>
</div>