<section class="morepage-banner-wrapper menu-gird-2">
    <div class="container">
        <div class="morepage-banner">
            <div class="group-icons"><i class="icons flaticon-anchor-1"></i></div>
            <h2 class="title">The Menu Grid 02</h2>
            <ol class="breadcrumb">
                <li><a href="index.html" class="link">Home</a></li>
                <li class="active"><a href="#" class="link">Menu</a></li>
            </ol>
        </div>
    </div>
</section>
<section class="page-main padding-top-100 padding-bottom-100">
    <div class="container">
        <div class="meal-wrapper padding-bottom-100">
            <div class="main-title-2">
                <div class="icons">//</div>
                <h2 class="title">breakfast</h2>
            </div>
            <div class="main-content">
                <p class="description-menu">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci di dunt ut labore et dolore magna aliqua. Ut enim ad minim reprehederit veniam excepteur sint occacat cupidatat non proident</p>
                <div class="more-image"><img src="public/images/seafood/breakfast.png" alt="" class="img-responsive" /></div>
                <div ui-view="list_menu_2"></div>
            </div>
        </div>
        <div class="meal-wrapper padding-bottom-100">
            <div class="main-title-2">
                <div class="icons">//</div>
                <h2 class="title">lunch</h2>
            </div>
            <div class="main-content">
                <p class="description-menu">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci di dunt ut labore et dolore magna aliqua. Ut enim ad minim reprehederit veniam excepteur sint occacat cupidatat non proident</p>
                <div class="more-image"><img src="public/images/seafood/lunch.png" alt="" class="img-responsive" /></div>
                <div ui-view="list_menu_2_b"></div>
            </div>
        </div>
        <div class="meal-wrapper">
            <div class="main-title-2">
                <div class="icons">//</div>
                <h2 class="title">dinner</h2>
            </div>
            <div class="main-content">
                <p class="description-menu">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci di dunt ut labore et dolore magna aliqua. Ut enim ad minim reprehederit veniam excepteur sint occacat cupidatat non proident</p>
                <div class="more-image"><img src="public/images/seafood/dinner.png" alt="" class="img-responsive" /></div>
                <div ui-view="list_menu_2_c"></div>
            </div>
        </div>
    </div>
</section>
<section ui-view="subscribe_email" class="subscribe-email"></section>