    /*
    Flaticon icon font: Flaticon
    Creation date: 01/04/2016 15:22
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-anchor:before { content: "\f100"; }
.flaticon-bull:before { content: "\f101"; }
.flaticon-bullfighting-jacket:before { content: "\f102"; }
.flaticon-castanets:before { content: "\f103"; }
.flaticon-christianity:before { content: "\f104"; }
.flaticon-churros:before { content: "\f105"; }
.flaticon-cocido:before { content: "\f106"; }
.flaticon-comb:before { content: "\f107"; }
.flaticon-corkscrew:before { content: "\f108"; }
.flaticon-crown:before { content: "\f109"; }
.flaticon-dress:before { content: "\f10a"; }
.flaticon-fan:before { content: "\f10b"; }
.flaticon-fish:before { content: "\f10c"; }
.flaticon-fish-1:before { content: "\f10d"; }
.flaticon-football:before { content: "\f10e"; }
.flaticon-football-shirt:before { content: "\f10f"; }
.flaticon-gate-of-europe:before { content: "\f110"; }
.flaticon-gazpacho:before { content: "\f111"; }
.flaticon-giralda:before { content: "\f112"; }
.flaticon-goya:before { content: "\f113"; }
.flaticon-grapes:before { content: "\f114"; }
.flaticon-ham:before { content: "\f115"; }
.flaticon-hat:before { content: "\f116"; }
.flaticon-hat-1:before { content: "\f117"; }
.flaticon-heel:before { content: "\f118"; }
.flaticon-lobster:before { content: "\f119"; }
.flaticon-manzanares-el-real-castle:before { content: "\f11a"; }
.flaticon-mill:before { content: "\f11b"; }
.flaticon-mosque-cathedral-of-cordoba:before { content: "\f11c"; }
.flaticon-museum:before { content: "\f11d"; }
.flaticon-museum-1:before { content: "\f11e"; }
.flaticon-oceanografic:before { content: "\f11f"; }
.flaticon-olive-oil:before { content: "\f120"; }
.flaticon-olives:before { content: "\f121"; }
.flaticon-paella:before { content: "\f122"; }
.flaticon-rose:before { content: "\f123"; }
.flaticon-sagrada-familia:before { content: "\f124"; }
.flaticon-san-fermin:before { content: "\f125"; }
.flaticon-sangria:before { content: "\f126"; }
.flaticon-santiago-de-compostela-cathedral:before { content: "\f127"; }
.flaticon-shawl:before { content: "\f128"; }
.flaticon-ship:before { content: "\f129"; }
.flaticon-shrimp:before { content: "\f12a"; }
.flaticon-spain:before { content: "\f12b"; }
.flaticon-spanish-flag:before { content: "\f12c"; }
.flaticon-spanish-guitar:before { content: "\f12d"; }
.flaticon-sun-umbrella:before { content: "\f12e"; }
.flaticon-tambourine:before { content: "\f12f"; }
.flaticon-wine:before { content: "\f130"; }
.flaticon-wine-cask:before { content: "\f131"; }
    
    $font-Flaticon-anchor: "\f100";
    $font-Flaticon-bull: "\f101";
    $font-Flaticon-bullfighting-jacket: "\f102";
    $font-Flaticon-castanets: "\f103";
    $font-Flaticon-christianity: "\f104";
    $font-Flaticon-churros: "\f105";
    $font-Flaticon-cocido: "\f106";
    $font-Flaticon-comb: "\f107";
    $font-Flaticon-corkscrew: "\f108";
    $font-Flaticon-crown: "\f109";
    $font-Flaticon-dress: "\f10a";
    $font-Flaticon-fan: "\f10b";
    $font-Flaticon-fish: "\f10c";
    $font-Flaticon-fish-1: "\f10d";
    $font-Flaticon-football: "\f10e";
    $font-Flaticon-football-shirt: "\f10f";
    $font-Flaticon-gate-of-europe: "\f110";
    $font-Flaticon-gazpacho: "\f111";
    $font-Flaticon-giralda: "\f112";
    $font-Flaticon-goya: "\f113";
    $font-Flaticon-grapes: "\f114";
    $font-Flaticon-ham: "\f115";
    $font-Flaticon-hat: "\f116";
    $font-Flaticon-hat-1: "\f117";
    $font-Flaticon-heel: "\f118";
    $font-Flaticon-lobster: "\f119";
    $font-Flaticon-manzanares-el-real-castle: "\f11a";
    $font-Flaticon-mill: "\f11b";
    $font-Flaticon-mosque-cathedral-of-cordoba: "\f11c";
    $font-Flaticon-museum: "\f11d";
    $font-Flaticon-museum-1: "\f11e";
    $font-Flaticon-oceanografic: "\f11f";
    $font-Flaticon-olive-oil: "\f120";
    $font-Flaticon-olives: "\f121";
    $font-Flaticon-paella: "\f122";
    $font-Flaticon-rose: "\f123";
    $font-Flaticon-sagrada-familia: "\f124";
    $font-Flaticon-san-fermin: "\f125";
    $font-Flaticon-sangria: "\f126";
    $font-Flaticon-santiago-de-compostela-cathedral: "\f127";
    $font-Flaticon-shawl: "\f128";
    $font-Flaticon-ship: "\f129";
    $font-Flaticon-shrimp: "\f12a";
    $font-Flaticon-spain: "\f12b";
    $font-Flaticon-spanish-flag: "\f12c";
    $font-Flaticon-spanish-guitar: "\f12d";
    $font-Flaticon-sun-umbrella: "\f12e";
    $font-Flaticon-tambourine: "\f12f";
    $font-Flaticon-wine: "\f130";
    $font-Flaticon-wine-cask: "\f131";