<slick class="homepage-banner background-slide" arrows="false" dots="false" speed="700" fade="true" autoplay="true" autoplay-speed="5000" css-ease="linear" pause-on-hover="false" on-before-change="OnBeforeChange(selection,index)" on-after-change="OnAfterChange(selection,index)">
  <div class="slide-item background-item-1">
    <div class="container">
      <div class="homepage-banner-warpper">
        <div class="homepage-banner-content"><a href="/home-03" class="logo-images animated fadeInDown"><img src="public/images/logo/gamba.png" alt="" class="img-responsive"/></a>
          <div class="group-title animated fadeInUp">
            <h1 class="title">WELCOME TO GAMBA RESTAURANT</h1>
            <p class="text">The Seafood Restaurant has been voted by locals as "Best in the area" year after year. We actively seek out the freshest in regional seafood and produce our restaurant is expanding.</p>
          </div>
          <div class="group-btn"><a href="#" class="btn btn-left btn-maincolor animated fadeInLeft">Resever Now </a><a href="#" class="btn btn-right btn-transparent animated fadeInRight"> purchase now</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="slide-item background-item-2">
    <div class="container">
      <div class="homepage-banner-warpper">
        <div class="homepage-banner-content"><a href="/home-03" class="logo-images animated fadeInDown hidden"><img src="public/images/logo/gamba.png" alt="" class="img-responsive"/></a>
          <div class="group-title animated fadeInUp hidden">
            <h1 class="title">online booking table & order menu</h1>
            <p class="text">The Seafood Restaurant has been voted by locals as "Best in the area" year after year. We actively seek out the freshest in regional seafood and produce our restaurant is expanding.</p>
          </div><a href="#" class="btn btn-center btn-maincolor animated zoomIn hidden">booking now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="slide-item background-item-3">
    <div class="container">
      <div class="homepage-banner-warpper">
        <div class="homepage-banner-content">
          <div class="group-title-2 animated fadeInRight hidden">
            <h1 class="title">WELCOME TO GAMBA RESTAURANT</h1>
            <p class="text">The Seafood Restaurant has been voted by locals as "Best in the area" year after year. We actively seek out the freshest in regional seafood and produce our restaurant is expanding.</p>
          </div>
          <div class="group-open-hours animated fadeInRight hidden">
            <h5 class="title">open hours</h5>
            <div class="time-1">
              <div class="day">Monday - Friday :</div>
              <div class="time">07:30 am - 11:00 pm</div>
            </div>
            <div class="time-2">
              <div class="day">Saturday - Sunday :</div>
              <div class="time">08:30 am - 12:00 pm</div>
            </div>
          </div>
          <div class="group-btn group-btn-2 animated fadeInUp hidden"><a href="#" class="btn btn-left btn-maincolor">Resever Now </a><a href="#" class="btn btn-right btn-transparent"> purchase now</a></div>
        </div>
      </div>
    </div>
  </div>
</slick>
<section ui-view="about_us_3" class="about-us-3 padding-top-100 padding-bottom-100"></section>
<section ui-view="menu_of_day_3" class="menu-of-day style-3"></section>
<section ui-view="special_menu_3" class="special-menu style-3 padding-top-100 padding-bottom-100"></section>
<section ui-view="book_table_3" class="book-table style-2"></section>
<section ui-view="our_chefs_1" class="our-chefs padding-top-100 padding-bottom-100"></section>
<section class="testimonial style-1 padding-top-100 padding-bottom-100">
  <div ui-view="testimonial_list" class="container"></div>
</section>
<section ui-view="coming_soon_1" class="coming-soon"></section>
<section ui-view="subscribe_email" class="subscribe-email"></section>