<section class="homepage-banner homepage-default">
  <div class="container">
    <div class="homepage-banner-warpper">
      <div class="homepage-banner-content">
        <div data-wow-delay="0.5s" class="group-title wow fadeInRight">
          <h1 class="title" translate="WELCOME_MESSAGE"></h1>
          <p class="text">The Seafood Restaurant has been voted by locals as "Best in the area" year after year. We actively seek out the freshest in regional seafood and produce our restaurant is expanding.</p>
        </div>
        <div data-wow-delay="1s" class="group-open-hours wow fadeInRight">
          <h5 class="title">open hours</h5>
          <div class="time-1">
            <div class="day">Monday - Friday :</div>
            <div class="time">07:30 am - 11:00 pm</div>
          </div>
          <div class="time-2">
            <div class="day">Saturday - Sunday :</div>
            <div class="time">08:30 am - 12:00 pm</div>
          </div>
        </div>
        <div data-wow-delay="1.8s" class="group-btn wow fadeInUp"><a href="#" class="btn btn-left btn-maincolor" translate="BUTTON_RESEVER_NOW"></a><a href="#" class="btn btn-right btn-transparent" translate="BUTTON_PURCHASE_NOW"></a></div>
      </div>
    </div>
  </div>
</section>
<section ui-view="about_us_1" class="about-us-1"></section>
<section ui-view="special_menu_1" class="special-menu style-1 padding-top-100 padding-bottom-100"></section>
<section ui-view="menu_of_day_1" class="menu-of-day style-1"></section>
<section ui-view="banner_prallax" class="banner-prallax"></section>
<section ui-view="new_of_day" class="new-of-day padding-top-100 padding-bottom-100"></section>
<section ui-view="book_table_1" class="book-table style-1"></section>
<section ui-view="coming_soon_1" class="coming-soon"></section>
<div ui-view="subscribe_email" class="subscribe-email"></section>