<section class="homepage-banner background-video">
  <div class="homepage-hero-module">
    <div class="video-container">
      <div class="filter"></div>
      <video autoplay="" loop="" muted="muted" class="fillWidth">
        <source src="public/videos/video-2.mp4" type="video/mp4"/>
      </video>
    </div>
  </div>
  <div class="homepage-banner-warpper">
    <div class="homepage-banner-content">
      <div class="bg-image"><img src="public/images/background-full/homepage-2.jpg" alt="" class="img-responsive"/></div>
      <div data-wow-delay="1s" class="group-title wow fadeInDown">
        <h1 class="title">WELCOME TO GAMBA RESTAURANT</h1>
        <p class="text">The Seafood Restaurant has been voted by locals as "Best in the area" year after year. We actively seek out the freshest in regional seafood and produce our restaurant is expanding.</p>
      </div>
      <div data-wow-delay="1s" class="group-btn wow fadeInUp"><a href="#" class="btn btn-left btn-maincolor">Resever Now </a><a href="#" class="btn btn-right btn-transparent"> purchase now</a></div>
      <div data-wow-delay="1.8s" class="btn-click btn-play wow zoomIn"><i class="icons fa fa-play"></i></div>
      <div class="btn-click btn-pause show-video"><i class="icons fa fa-pause"></i></div>
    </div>
  </div>
</section>
<section ui-view="about_us_2" class="about-us-2"></section>
<section ui-view="special_menu_2" class="special-menu style-2 padding-top-100 padding-bottom-100"></section>
<section ui-view="menu_of_day_2" class="menu-of-day style-2"></section>
<section ui-view="banner_2" class="banner banner-infomation-slide"></section>
<section ui-view="book_table_2" class="book-table style-3"></section>
<section ui-view="testimonial_list" class="testimonial style-2 padding-top-100 padding-bottom-100"></section>
<section ui-view="coming_soon_1" class="coming-soon"></section>
<section ui-view="subscribe_email" class="subscribe-email"></section>