/* VARIABLES */
/* MIXIN */
/* SPINNER */
.spinner {
  min-width: 24px;
  min-height: 24px; }
  .spinner:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -10px;
    margin-left: -10px;
    z-index: 1; }
  .spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-top-color: rgba(0, 0, 0, 0.25);
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite; }

@keyframes spinner {
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg); } }

/* BUTTON */
.btn {
  border-radius: 2px;
  transition: all 0.25s ease-in-out; }
  .btn:focus, .btn:active {
    outline: none !important; }
  .btn.btn-primary {
    background-color: #ff7256;
    border-color: #ff7256;
    color: #ffffff; }
    .btn.btn-primary:hover {
      background-color: #ff4723;
      border-color: #ff4723; }
      .btn.btn-primary:hover:focus, .btn.btn-primary:hover:active {
        background-color: #ff320a;
        border-color: #ff320a;
        color: #ffffff;
        -webkit-box-shadow: none;
        box-shadow: none; }
    .btn.btn-primary:focus, .btn.btn-primary:active {
      background-color: #ff320a;
      border-color: #ff320a;
      outline: none !important;
      color: #ffffff;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
      transform: translateY(1px); }
  .btn.btn-secondary {
    background-color: #ff4676;
    border-color: #ff4676;
    color: #ffffff; }
    .btn.btn-secondary:hover {
      background-color: #ff1350;
      border-color: #ff1350; }
      .btn.btn-secondary:hover:focus, .btn.btn-secondary:hover:active {
        background-color: #f90040;
        border-color: #f90040;
        color: #ffffff;
        -webkit-box-shadow: none;
        box-shadow: none; }
    .btn.btn-secondary:focus, .btn.btn-secondary:active {
      background-color: #f90040;
      border-color: #f90040;
      outline: none !important;
      color: #ffffff;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
      transform: translateY(1px); }
  .btn.btn-success {
    background-color: #7afc8c;
    border-color: #7afc8c;
    color: #ffffff; }
    .btn.btn-success:hover {
      background-color: #48fb61;
      border-color: #48fb61; }
      .btn.btn-success:hover:focus, .btn.btn-success:hover:active {
        background-color: #2ffa4b;
        border-color: #2ffa4b;
        color: #ffffff;
        -webkit-box-shadow: none;
        box-shadow: none; }
    .btn.btn-success:focus, .btn.btn-success:active {
      background-color: #2ffa4b;
      border-color: #2ffa4b;
      outline: none !important;
      color: #ffffff;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
      transform: translateY(1px); }
  .btn.btn-info {
    background-color: #78eaff;
    border-color: #78eaff;
    color: #ffffff; }
    .btn.btn-info:hover {
      background-color: #45e2ff;
      border-color: #45e2ff; }
      .btn.btn-info:hover:focus, .btn.btn-info:hover:active {
        background-color: #2cdeff;
        border-color: #2cdeff;
        color: #ffffff;
        -webkit-box-shadow: none;
        box-shadow: none; }
    .btn.btn-info:focus, .btn.btn-info:active {
      background-color: #2cdeff;
      border-color: #2cdeff;
      outline: none !important;
      color: #ffffff;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
      transform: translateY(1px); }
  .btn.btn-warning {
    background-color: #ffdd00;
    border-color: #ffdd00;
    color: #ffffff; }
    .btn.btn-warning:hover {
      background-color: #ccb100;
      border-color: #ccb100; }
      .btn.btn-warning:hover:focus, .btn.btn-warning:hover:active {
        background-color: #b39b00;
        border-color: #b39b00;
        color: #ffffff;
        -webkit-box-shadow: none;
        box-shadow: none; }
    .btn.btn-warning:focus, .btn.btn-warning:active {
      background-color: #b39b00;
      border-color: #b39b00;
      outline: none !important;
      color: #ffffff;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
      transform: translateY(1px); }
  .btn.btn-danger {
    background-color: #ff3939;
    border-color: #ff3939;
    color: #ffffff; }
    .btn.btn-danger:hover {
      background-color: #ff0606;
      border-color: #ff0606; }
      .btn.btn-danger:hover:focus, .btn.btn-danger:hover:active {
        background-color: #ec0000;
        border-color: #ec0000;
        color: #ffffff;
        -webkit-box-shadow: none;
        box-shadow: none; }
    .btn.btn-danger:focus, .btn.btn-danger:active {
      background-color: #ec0000;
      border-color: #ec0000;
      outline: none !important;
      color: #ffffff;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
      transform: translateY(1px); }
  .btn.btn-black {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff; }
    .btn.btn-black:hover {
      background-color: black;
      border-color: black; }
      .btn.btn-black:hover:focus, .btn.btn-black:hover:active {
        background-color: black;
        border-color: black;
        color: #ffffff;
        -webkit-box-shadow: none;
        box-shadow: none; }
    .btn.btn-black:focus, .btn.btn-black:active {
      background-color: black;
      border-color: black;
      outline: none !important;
      color: #ffffff;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
      transform: translateY(1px); }
  .btn.btn-gray {
    background-color: #979798;
    border-color: #979798;
    color: #ffffff; }
    .btn.btn-gray:hover {
      background-color: #7d7d7f;
      border-color: #7d7d7f; }
      .btn.btn-gray:hover:focus, .btn.btn-gray:hover:active {
        background-color: #717172;
        border-color: #717172;
        color: #ffffff;
        -webkit-box-shadow: none;
        box-shadow: none; }
    .btn.btn-gray:focus, .btn.btn-gray:active {
      background-color: #717172;
      border-color: #717172;
      outline: none !important;
      color: #ffffff;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
      transform: translateY(1px); }

/* FORM */
.form-control {
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: none; }
  .form-control:focus {
    border-color: transparent;
    box-shadow: none; }

/* DROPDOWN MENU */
.dropdown-menu {
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border: 0;
  border-radius: 2px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.08); }
