section.banner-prallax
    h1.title-bg 
        span(data-parallax='{"z": -500}') The 
        span(data-parallax='{"z": -450}') true 
        span(data-parallax='{"z": -375}') taste 
        span(data-parallax='{"z": -290}') of 
        span(data-parallax='{"z": -200}') Gamba
    .infomation-wrapper(data-parallax='{"y": -120}')
        h2.title enjoy seafood restaurant template!
        p.description The Seafood Restaurant has been voted by locals as "Best in the area" year after year. We actively seek out the freshest in regional seafood and produce our restaurant is expanding.
        a.btn.btn-subcolor(href="#") purchase now
    .img-wrapper(data-parallax='{"y": 100, "z": -200}')
        img.img-responsive(src="assets/images/more-image/item-fish.png", alt="")
    .img-wrapper-2(data-parallax='{"x": 1920, "distance": 0, "smoothness": 800}')
        img.img-responsive(src="assets/images/seafood/swordfish-4.png", alt="")