form
    .row.form-group
        .col-sm-6
            .input-group
                input.form-control(type='text', placeholder='Name')
                .input-group-addon
                    i.fa.fa-user
        .col-sm-6
            .input-group
                input.form-control(type='text', placeholder='Phone')
                .input-group-addon
                    i.fa.fa-phone
        .col-sm-6
            .input-group
                input.form-control(type='text', placeholder='Email')
                .input-group-addon
                    i.fa.fa-envelope
        .col-sm-6
            .input-group
                input.form-control(type='text', placeholder='Number of people')
                .input-group-addon
                    i.fa.fa-users
        .col-sm-6
            .input-group
                input.form-control(type='text', placeholder='Date')
                .input-group-addon
                    i.fa.fa-calendar
        .col-sm-6
            .input-group
                input.form-control(type='text', placeholder='Time')
                .input-group-addon
                    i.fa.fa-clock-o 
    button.btn(type='submit') Resever Now
