section.coming-soon.style-2.padding-top-100.padding-bottom-100
    .container
        .main-title-2
            .icons //
            h2.title event for the week
        .coming-soon-wrapper
            .left-infomation
                .logo-bg
                    .list-logo
                        .item
                            a(href="#").link
                                img.img-responsive(src="assets/images/more-image/logo-1.png", alt="")
                            a(href="#").link
                                img.img-responsive(src="assets/images/more-image/logo-4.png", alt="")
                        .item
                            a(href="#").link
                                img.img-responsive(src="assets/images/more-image/logo-2.png", alt="")
                            a(href="#").link
                                img.img-responsive(src="assets/images/more-image/logo-5.png", alt="")
                        .item
                            a(href="#").link
                                img.img-responsive(src="assets/images/more-image/logo-3.png", alt="")
                            a(href="#").link
                                img.img-responsive(src="assets/images/more-image/logo-6.png", alt="")
                        .item
                            a(href="#").link
                                img.img-responsive(src="assets/images/more-image/logo-4.png", alt="")
                            a(href="#").link
                                img.img-responsive(src="assets/images/more-image/logo-1.png", alt="")

            .right-infomation
                .coming-soon-event-wrapper
                    .main-content
                        .infomation
                            h4.title Bring Sea On The Table
                            p.date Tuesday 15/12/15, 6:00 am
                            p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci di dunt ut labore et dolore magna aliqua.
                        .coming-soon-count.countdown
                            canvas#timer.count-container
                            .count-wrapper
                                .time.days
                                    span.count#days
                                .time-label days
                            .count-wrapper
                                .time.hours
                                    span.count#hours
                                .time-label hours
                            .count-wrapper
                                .time.minutes
                                    span.count#minutes
                                .time-label mins
                            .clearfix
                        a.btn.btn-maincolor(href="") resever now
                        