.row
    .col-sm-6
        .menu-items.style-2
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/menu-9.jpg", alt="")
            .item-content
                a.title(href="#")
                    .name mexico Mango Salas
                    .price
                        sup $
                        span 49.00
                .desciption Lorem ipsum dolor sit a met, consec teturie adipisi cing elitse dorem.
    .col-sm-6
        .menu-items.style-2
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/menu-10.jpg", alt="")
            .item-content
                a.title(href="#")
                    .name Annalisa Tomato
                    .price
                        sup $
                        span 38.00
                .desciption Lorem ipsum dolor sit a met, consec teturie adipisi cing elitse dorem.
    .col-sm-6
        .menu-items.style-2
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/menu-11.jpg", alt="")
            .item-content
                a.title(href="#")
                    .name Jalapeno Mango Salsa
                    .price
                        sup $
                        span 68.00
                .desciption Lorem ipsum dolor sit a met, consec teturie adipisi cing elitse dorem.
    .col-sm-6
        .menu-items.style-2
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/menu-12.jpg", alt="")
            .item-content
                a.title(href="#")
                    .name Kung pao pastrami
                    .price
                        sup $
                        span 55.00
                .desciption Lorem ipsum dolor sit a met, consec teturie adipisi cing elitse dorem.
!= partial("widgets/pagination")
