section.special-menu.style-1.padding-top-100.padding-bottom-100
    .container
        .main-title
            .bg-image
                img(src="assets/images/seafood/clamp-2.png", alt="")
            h2.title special menu
        .main-content
            != partial("list-dish")
