<div class="row">
  <div class="col-sm-6">
    <div class="menu-items style-3 white"><a href="#" class="item-image"><img src="public/images/menu/small-menu-1.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content"><a href="#" class="title">
          <div class="name">Chicken Doro Wat</div>
          <div class="price"><sup>$</sup><span>54.00</span></div></a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec tetur.</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="menu-items style-3 white"><a href="#" class="item-image"><img src="public/images/menu/small-menu-2.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content"><a href="#" class="title">
          <div class="name">Kung pao pastrami</div>
          <div class="price"><sup>$</sup><span>65.00</span></div></a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec tetur.</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="menu-items style-3 white"><a href="#" class="item-image"><img src="public/images/menu/small-menu-3.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content"><a href="#" class="title">
          <div class="name">Masala Spiced Chickpeas</div>
          <div class="price"><sup>$</sup><span>73.00</span></div></a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec tetur.</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="menu-items style-3 white"><a href="#" class="item-image"><img src="public/images/menu/small-menu-4.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content"><a href="#" class="title">
          <div class="name">Annalisa Tomato</div>
          <div class="price"><sup>$</sup><span>38.00</span></div></a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec tetur.</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="menu-items style-3 white"><a href="#" class="item-image"><img src="public/images/menu/small-menu-5.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content"><a href="#" class="title">
          <div class="name">Crab & Tarracon Tart</div>
          <div class="price"><sup>$</sup><span>49.00</span></div></a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec tetur.</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="menu-items style-3 white"><a href="#" class="item-image"><img src="public/images/menu/small-menu-6.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content"><a href="#" class="title">
          <div class="name">Jalapeno Mango Salsa</div>
          <div class="price"><sup>$</sup><span>68.00</span></div></a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec tetur.</div>
      </div>
    </div>
  </div>
</div>