<div class="row">
  <div class="col-sm-6">
    <div class="menu-items style-2"><a href="#" class="item-image"><img src="public/images/menu/menu-13.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content"><a href="#" class="title">
          <div class="name">Jalapeno Mango Salsa</div>
          <div class="price"><sup>$</sup><span>48.00</span></div></a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec teturie adipisi cing elitse dorem.</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="menu-items style-2"><a href="#" class="item-image"><img src="public/images/menu/menu-14.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content"><a href="#" class="title">
          <div class="name">Kung pao pastrami</div>
          <div class="price"><sup>$</sup><span>55.00</span></div></a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec teturie adipisi cing elitse dorem.</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="menu-items style-2"><a href="#" class="item-image"><img src="public/images/menu/menu-15.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content"><a href="#" class="title">
          <div class="name">Chicken Doro Wat</div>
          <div class="price"><sup>$</sup><span>54.00</span></div></a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec teturie adipisi cing elitse dorem.</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="menu-items style-2"><a href="#" class="item-image"><img src="public/images/menu/menu-16.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content"><a href="#" class="title">
          <div class="name">hambuger crawfish</div>
          <div class="price"><sup>$</sup><span>32.00</span></div></a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec teturie adipisi cing elitse dorem.</div>
      </div>
    </div>
  </div>
</div>
<nav class="pagination-list margin-top-50">
  <ul class="pagination">
    <li><a href="#" aria-label="Previous" class="btn-pagination previous"><span aria-hidden="true" class="fa fa-angle-left"></span></a></li>
    <li><a href="#" class="btn-pagination active">1</a></li>
    <li><a href="#" class="btn-pagination">2</a></li>
    <li><a href="#" class="btn-pagination">...</a></li>
    <li><a href="#" class="btn-pagination">9</a></li>
    <li><a href="#" aria-label="Next" class="btn-pagination next"><span aria-hidden="true" class="fa fa-angle-right"></span></a></li>
  </ul>
</nav>