<div class="row">
  <div class="col-md-4 col-sm-4">
    <div class="menu-items style-4"><a href="#" class="item-image"><img src="public/images/menu/big-menu-14.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content">
        <div class="price"><sup>$</sup><span>36.00</span></div><a href="#" class="title">West Coast Rock Oysters</a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="menu-items style-4"><a href="#" class="item-image"><img src="public/images/menu/big-menu-13.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content">
        <div class="price"><sup>$</sup><span>42.00</span></div><a href="#" class="title">West Coast Rock Oysters</a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="menu-items style-4"><a href="#" class="item-image"><img src="public/images/menu/big-menu-4.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content">
        <div class="price"><sup>$</sup><span>38.00</span></div><a href="#" class="title">West Coast Rock Oysters</a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="menu-items style-4"><a href="#" class="item-image"><img src="public/images/menu/big-menu-18.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content">
        <div class="price"><sup>$</sup><span>47.00</span></div><a href="#" class="title">West Coast Rock Oysters</a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="menu-items style-4"><a href="#" class="item-image"><img src="public/images/menu/big-menu-20.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content">
        <div class="price"><sup>$</sup><span>42.00</span></div><a href="#" class="title">West Coast Rock Oysters</a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="menu-items style-4"><a href="#" class="item-image"><img src="public/images/menu/big-menu-12.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content">
        <div class="price"><sup>$</sup><span>39.00</span></div><a href="#" class="title">West Coast Rock Oysters</a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. </div>
      </div>
    </div>
  </div>
</div>