<div class="row">
  <div class="col-sm-6">
    <div class="menu-items style-3 white"><a href="#" class="item-image"><img src="public/images/menu/small-menu-11.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content"><a href="#" class="title">
          <div class="name">Annalisa Tomato</div>
          <div class="price"><sup>$</sup><span>36.00</span></div></a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec tetur.</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="menu-items style-3 white"><a href="#" class="item-image"><img src="public/images/menu/small-menu-12.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content"><a href="#" class="title">
          <div class="name">Crab & Tarracon Tart</div>
          <div class="price"><sup>$</sup><span>42.00</span></div></a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec tetur.</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="menu-items style-3 white"><a href="#" class="item-image"><img src="public/images/menu/small-menu-10.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content"><a href="#" class="title">
          <div class="name">Kung pao pastrami</div>
          <div class="price"><sup>$</sup><span>56.00</span></div></a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec tetur.</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="menu-items style-3 white"><a href="#" class="item-image"><img src="public/images/menu/small-menu-9.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content"><a href="#" class="title">
          <div class="name">Chicken Doro Wat</div>
          <div class="price"><sup>$</sup><span>79.00</span></div></a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec tetur.</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="menu-items style-3 white"><a href="#" class="item-image"><img src="public/images/menu/small-menu-8.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content"><a href="#" class="title">
          <div class="name">Jalapeno Mango Salsa</div>
          <div class="price"><sup>$</sup><span>55.00</span></div></a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec tetur.</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="menu-items style-3 white"><a href="#" class="item-image"><img src="public/images/menu/small-menu-7.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content"><a href="#" class="title">
          <div class="name">Masala Spiced Chickpeas</div>
          <div class="price"><sup>$</sup><span>60.00</span></div></a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec tetur.</div>
      </div>
    </div>
  </div>
</div>