<div class="row">
  <div class="col-md-4 col-sm-4">
    <div class="menu-items style-4"><a href="#" class="item-image"><img src="public/images/menu/big-menu-2.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content">
        <div class="price"><sup>$</sup><span>54.00</span></div><a href="#" class="title">West Coast Rock Oysters</a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="menu-items style-4"><a href="#" class="item-image"><img src="public/images/menu/big-menu-5.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content">
        <div class="price"><sup>$</sup><span>43.00</span></div><a href="#" class="title">West Coast Rock Oysters</a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="menu-items style-4"><a href="#" class="item-image"><img src="public/images/menu/big-menu-7.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content">
        <div class="price"><sup>$</sup><span>62.00</span></div><a href="#" class="title">West Coast Rock Oysters</a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="menu-items style-4"><a href="#" class="item-image"><img src="public/images/menu/big-menu-9.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content">
        <div class="price"><sup>$</sup><span>24.00</span></div><a href="#" class="title">West Coast Rock Oysters</a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="menu-items style-4"><a href="#" class="item-image"><img src="public/images/menu/big-menu-10.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content">
        <div class="price"><sup>$</sup><span>36.00</span></div><a href="#" class="title">West Coast Rock Oysters</a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="menu-items style-4"><a href="#" class="item-image"><img src="public/images/menu/big-menu-11.jpg" alt="" class="img-responsive"/></a>
      <div class="item-content">
        <div class="price"><sup>$</sup><span>43.00</span></div><a href="#" class="title">West Coast Rock Oysters</a>
        <div class="desciption">Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse dorem do eiusmod isae adipisi. </div>
      </div>
    </div>
  </div>
</div>