<div class="row">
  <div class="col-sm-6">
    <div class="menu-items style-1"><a href="#" class="title">
        <div class="name">Masala Spiced Chickpeas</div>
        <div class="price"><sup>$</sup><span>73.00</span></div></a>
      <div class="desciption">Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse aldea orem do eiusmod tempor.</div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="menu-items style-1"><a href="#" class="title">
        <div class="name">Crab & Tarracon Tart</div>
        <div class="price"><sup>$</sup><span>38.00</span></div></a>
      <div class="desciption">Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse aldea orem do eiusmod tempor.</div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="menu-items style-1"><a href="#" class="title">
        <div class="name">Kung pao pastrami</div>
        <div class="price"><sup>$</sup><span>55.00</span></div></a>
      <div class="desciption">Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse aldea orem do eiusmod tempor.</div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="menu-items style-1"><a href="#" class="title">
        <div class="name">hambuger crawfish</div>
        <div class="price"><sup>$</sup><span>32.00</span></div></a>
      <div class="desciption">Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse aldea orem do eiusmod tempor.</div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="menu-items style-1"><a href="#" class="title">
        <div class="name">mexico Mango Salas</div>
        <div class="price"><sup>$</sup><span>49.00</span></div></a>
      <div class="desciption">Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse aldea orem do eiusmod tempor.</div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="menu-items style-1"><a href="#" class="title">
        <div class="name">Chicken Doro Wat</div>
        <div class="price"><sup>$</sup><span>54.00</span></div></a>
      <div class="desciption">Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse aldea orem do eiusmod tempor.</div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="menu-items style-1"><a href="#" class="title">
        <div class="name">Annalisa Tomato</div>
        <div class="price"><sup>$</sup><span>38.00</span></div></a>
      <div class="desciption">Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse aldea orem do eiusmod tempor.</div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="menu-items style-1"><a href="#" class="title">
        <div class="name">Jalapeno Mango Salsa</div>
        <div class="price"><sup>$</sup><span>68.00</span></div></a>
      <div class="desciption">Lorem ipsum dolor sit a met, consec tetur adipisi cing elitse aldea orem do eiusmod tempor.</div>
    </div>
  </div>
</div>