.testimonial-list
    .slider-nav
        .avatar-item
            .image
                img.img-responsive(src="assets/images/more-image/people-1.jpg", alt="")
        .avatar-item
            .image
                img.img-responsive(src="assets/images/more-image/people-2.jpg", alt="")
        .avatar-item
            .image
                img.img-responsive(src="assets/images/more-image/people-3.jpg", alt="")
        .avatar-item
            .image
                img.img-responsive(src="assets/images/more-image/people-4.jpg", alt="")
    .slider-for
        .testimonial-item
            .icons 
                span &#10077;
            .news-content
                .content
                    a.name(href="#") Howard K. Stern
                    p.text Fiot SG_Korean
                p.description It is a long established fact that a reader will be distracted by the readable con tent of a page nomao when looking at its layout. The point of using Ipsum is that it has a more-or-less normal distribution of letters.
        .testimonial-item
            .icons 
                span &#10077;
            .news-content
                .content
                    a.name(href="#") james smith
                    p.text doctor HH_ABC
                p.description It is a long established fact that a reader will be distracted by the readable con tent of a page nomao when looking at its layout. The point of using Ipsum is that it has a more-or-less normal distribution of letters.
        .testimonial-item
            .icons 
                span &#10077;
            .news-content
                .content
                    a.name(href="#") Tristan luffy
                    p.text famer Mexico
                p.description It is a long established fact that a reader will be distracted by the readable con tent of a page nomao when looking at its layout. The point of using Ipsum is that it has a more-or-less normal distribution of letters.
        .testimonial-item
            .icons 
                span &#10077;
            .news-content
                .content
                    a.name(href="#") david booly
                    p.text student japan   
                p.description It is a long established fact that a reader will be distracted by the readable con tent of a page nomao when looking at its layout. The point of using Ipsum is that it has a more-or-less normal distribution of letters.