.list-infomation
    .infomation-item
        i.icons.flaticon-transport
        h4.title Seafood Restaurant
        p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci di dunt ut labore
        a.btn.btn-maincolor(href="#") get start
    .infomation-item
        i.icons.flaticon-lobster-1
        h4.title Sea Product Store
        p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci di dunt ut labore
        a.btn.btn-maincolor(href="#") get start
    .infomation-item
        i.icons.flaticon-anchor
        h4.title Ship Restaurant
        p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci di dunt ut labore
        a.btn.btn-maincolor(href="#") get start
    .infomation-item
        i.icons.flaticon-book
        h4.title VIP Customer
        p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci di dunt ut labore
        a.btn.btn-maincolor(href="#") get start