section.coming-soon
    .container
        .coming-soon-wrapper
            .left-infomation
                .open-hours-bg
                    .open-hours-wrapper
                        .title opening hour
                        .content
                            .item
                                p.day monday
                                p.time 9.00 - 22.00
                            .item
                                p.day tuesday
                                p.time 9.00 - 22.00
                            .item
                                p.day webnesday
                                p.time 9.00 - 22.00
                            .item
                                p.day thurday
                                p.time 9.00 - 22.00
                            .item
                                p.day friday
                                p.time 9.00 - 22.00
                            .item
                                p.day saturday
                                p.time 10.00 - 1.00
                            .item
                                p.day sunday
                                p.time 10.00 - 22.00

            .right-infomation
                .coming-soon-event-wrapper.padding-top-100.padding-bottom-100
                    .main-title
                        .bg-image
                            img.shrimp(src="assets/images/seafood/shrimp-2.png", alt="")
                        h2.title upcoming event
                    .main-content
                        .infomation
                            h4.title Bring Sea On The Table
                            p.date Tuesday 15/12/15, 6:00 am
                            p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci di dunt ut labore et dolore magna aliqua.
                        .coming-soon-count.countdown
                            canvas#timer.count-container
                            .count-wrapper
                                .time.days
                                    span.count#days
                                .time-label days
                            .count-wrapper
                                .time.hours
                                    span.count#hours
                                .time-label hours
                            .count-wrapper
                                .time.minutes
                                    span.count#minutes
                                .time-label mins
                            .clearfix
                        a.btn.btn-maincolor(href="") resever now
                        