.our-chefs-list
    .chef-item
        a.our-chef-avatar(href="#")
            img.img-responsive(src="assets/images/chefs/chef-1.png", alt="")
        .our-chef-info
            a(href="chef-single.html").name John Anderson
            p.job Master Chef
            p.description Lorem ipsum dolor sit amet coetur adipisicing elit, sed do eiusmod tempor incidi
            .our-chef-socials
                a.link.facebook(href="#")
                    i.fa.fa-facebook
                a.link.twitter(href="#")
                    i.fa.fa-twitter
                a.link.google(href="#")
                    i.fa.fa-google-plus
    .chef-item
        a.our-chef-avatar(href="#")
            img.img-responsive(src="assets/images/chefs/chef-1.png", alt="")
        .our-chef-info
            a(href="chef-single.html").name Park Sandara
            p.job Master Chef
            p.description Lorem ipsum dolor sit amet coetur adipisicing elit, sed do eiusmod tempor incidi
            .our-chef-socials
                a.link.facebook(href="#")
                    i.fa.fa-facebook
                a.link.twitter(href="#")
                    i.fa.fa-twitter
                a.link.google(href="#")
                    i.fa.fa-google-plus
    .chef-item
        a.our-chef-avatar(href="#")
            img.img-responsive(src="assets/images/chefs/chef-1.png", alt="")
        .our-chef-info
            a(href="chef-single.html").name Kown Jiyong
            p.job Master Chef
            p.description Lorem ipsum dolor sit amet coetur adipisicing elit, sed do eiusmod tempor incidi
            .our-chef-socials
                a.link.facebook(href="#")
                    i.fa.fa-facebook
                a.link.twitter(href="#")
                    i.fa.fa-twitter
                a.link.google(href="#")
                    i.fa.fa-google-plus
    .chef-item
        a.our-chef-avatar(href="#")
            img.img-responsive(src="assets/images/chefs/chef-1.png", alt="")
        .our-chef-info
            a(href="chef-single.html").name William
            p.job Master Chef
            p.description Lorem ipsum dolor sit amet coetur adipisicing elit, sed do eiusmod tempor incidi
            .our-chef-socials
                a.link.facebook(href="#")
                    i.fa.fa-facebook
                a.link.twitter(href="#")
                    i.fa.fa-twitter
                a.link.google(href="#")
                    i.fa.fa-google-plus
    .chef-item
        a.our-chef-avatar(href="#")
            img.img-responsive(src="assets/images/chefs/chef-1.png", alt="")
        .our-chef-info
            a(href="chef-single.html").name John Anderson
            p.job Master Chef
            p.description Lorem ipsum dolor sit amet coetur adipisicing elit, sed do eiusmod tempor incidi
            .our-chef-socials
                a.link.facebook(href="#")
                    i.fa.fa-facebook
                a.link.twitter(href="#")
                    i.fa.fa-twitter
                a.link.google(href="#")
                    i.fa.fa-google-plus
    .chef-item
        a.our-chef-avatar(href="#")
            img.img-responsive(src="assets/images/chefs/chef-1.png", alt="")
        .our-chef-info
            a(href="chef-single.html").name Park Sandara
            p.job Master Chef
            p.description Lorem ipsum dolor sit amet coetur adipisicing elit, sed do eiusmod tempor incidi
            .our-chef-socials
                a.link.facebook(href="#")
                    i.fa.fa-facebook
                a.link.twitter(href="#")
                    i.fa.fa-twitter
                a.link.google(href="#")
                    i.fa.fa-google-plus
    .chef-item
        a.our-chef-avatar(href="#")
            img.img-responsive(src="assets/images/chefs/chef-1.png", alt="")
        .our-chef-info
            a(href="chef-single.html").name Kown Jiyong
            p.job Master Chef
            p.description Lorem ipsum dolor sit amet coetur adipisicing elit, sed do eiusmod tempor incidi
            .our-chef-socials
                a.link.facebook(href="#")
                    i.fa.fa-facebook
                a.link.twitter(href="#")
                    i.fa.fa-twitter
                a.link.google(href="#")
                    i.fa.fa-google-plus
    .chef-item
        a.our-chef-avatar(href="#")
            img.img-responsive(src="assets/images/chefs/chef-1.png", alt="")
        .our-chef-info
            a(href="chef-single.html").name William
            p.job Master Chef
            p.description Lorem ipsum dolor sit amet coetur adipisicing elit, sed do eiusmod tempor incidi
            .our-chef-socials
                a.link.facebook(href="#")
                    i.fa.fa-facebook
                a.link.twitter(href="#")
                    i.fa.fa-twitter
                a.link.google(href="#")
                    i.fa.fa-google-plus