.subscribe-email
    .container
        .subscribe-email-wrapper
            .subscribe-email-left
                p.subscribe-email-title Check how all the dishes are cooked today!
                p.subscribe-email-text Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet.
            .subscribe-email-right
                form
                    .input-group.form-subscribe-email
                        input.form-control(type="text", placeholder= "Type Your Email")
                        span.input-group-btn
                            button.btn-email(type="submit") Get Offer
            .clearfix