<section class="morepage-banner-wrapper contact">
  <div class="container">
    <div class="morepage-banner">
      <div class="group-icons"><i class="icons flaticon-anchor-1"></i></div>
      <h2 class="title">contact us</h2>
      <ol class="breadcrumb">
        <li><a href="index.html" class="link">Home</a></li>
        <li class="active"><a href="#" class="link">contact us</a></li>
      </ol>
    </div>
  </div>
</section>
<section class="page-main padding-top-100 padding-bottom-100">
  <div class="container">
    <div class="main-title-2">
      <div class="icons">//</div>
      <h2 class="title">we are here for you</h2>
    </div>
    <div class="main-content">
      <div class="row contact-info">
        <div class="col-sm-4 col-xs-12">
          <div class="contact-info-item"><i class="icons flaticon-clock"></i>
            <p class="title">Open Time</p>
            <p class="text">Monday - Friday : 8:30AM - 5:30PM</p>
            <p class="text">Saturday -Sunday : 09:00AM - 01:00PM</p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="contact-info-item"><i class="icons flaticon-shop"></i>
            <p class="title">Our Address</p>
            <p class="text">Gamba Restaurant, 3 The Boulevarde, Strathfield NSW 2135, australia</p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="contact-info-item"><i class="icons flaticon-people"></i>
            <p class="title">Support</p>
            <p class="text">Phone:  (+36) 468-245-891</p>
            <p class="text">Email:  hello@gamba.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact-form-wrapper padding-top-100 padding-bottom-100">
  <div class="container">
    <div class="main-title-2">
      <div class="icons">//</div>
      <h2 class="title">get in touch today</h2>
    </div>
    <div class="main-content">
      <form id="contact-form" class="contact-form">
        <div class="row">
          <div class="col-sm-4">
            <input type="text" placeholder="Your Name" class="form-control"/>
          </div>
          <div class="col-sm-4">
            <input type="email" placeholder="Your Email" class="form-control"/>
          </div>
          <div class="col-sm-4">
            <input type="textr" placeholder="Your Phone" class="form-control"/>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <textarea placeholder="Your Message" class="form-control form-textarea"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-maincolor margin-top-50">Send Message </button>
      </form>
    </div>
    <div class="bg-images-pc"><img src="public/images/more-image/chef-4.png" alt="" class="img-responsive"/></div>
  </div>
</section>
<div class="contact-map">
  <div id="googleMap"></div>
</div>