.mb-social-wrapper
   .mb-button-close
      i.icons.fa.fa-times
   .clearfix
.mb-search
    form
        input.searchbox(type='text', placeholder='Search', onfocus="this.placeholder = ''")
        .line-boder
        button.searchbutton.fa.fa-search(type='submit')
