.categories-widget.widget
    .title-widget CATEGORIES
    .content-widget
        ul.widget-list
            li.single-widget-item
                a.link(href="#")
                    span.fa-custom.category Seafood
                    span.count 27
            li.single-widget-item
                a.link(href="#")
                    span.fa-custom.category Cooking
                    span.count 75
            li.single-widget-item
                a.link(href="#")
                    span.fa-custom.category Recipes
                    span.count 35
            li.single-widget-item
                a.link(href="#")
                    span.fa-custom.category Deliciously
                    span.count 34
            li.single-widget-item
                a.link(href="#")
                    span.fa-custom.category Shrimp
                    span.count 65
