.social-widget.widget
    .title-widget SOCIAL
    .content-widget
        ul.list-unstyled.list-inline
            li
                a.social-icon.fa.fa-facebook(href="javascript:void(0)")
            li
                a.social-icon.fa.fa-twitter(href="javascript:void(0)")
            li
                a.social-icon.fa.fa-pinterest-p(href="javascript:void(0)")
            li
                a.social-icon.fa.fa-google(href="javascript:void(0)")
            li
                a.social-icon.fa.fa-rss(href="javascript:void(0)")
            li
                a.social-icon.fa.fa-linkedin(href="javascript:void(0)")
            li
                a.social-icon.fa.fa-dribbble(href="javascript:void(0)")
