doctype
html(lang="en")
    head
        title
            | Gamba
            = " | "
            = title
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        // FONT CSS

        link(type="text/css", rel="stylesheet", href="assets/font/font-family/roboto/stylesheet.css")
        link(type="text/css", rel="stylesheet", href="assets/font/font-family/antonio/stylesheet.css")
        link(type="text/css", rel="stylesheet", href="assets/font/font-icon/font-awesome/css/font-awesome.css")
        link(type="text/css", rel="stylesheet", href="assets/font/font-icon/font-restaurant/font/flaticon.css")

        // LIBRARY CSS
        link(type="text/css", rel="stylesheet", href="assets/libs/bootstrap/css/bootstrap.min.css")
        link(type="text/css", rel="stylesheet", href="assets/libs/animate/animate.css")
        link(type="text/css", rel='stylesheet', href='assets/libs/slick-slider/slick.css')
        link(type="text/css", rel='stylesheet', href='assets/libs/slick-slider/slick-theme.css')

        // STYLE CSS
        link(type="text/css", rel='stylesheet', href='assets/css/layout.css')
        link(type="text/css", rel='stylesheet', href='assets/css/components.css')
        link(type="text/css", rel='stylesheet', href='assets/css/responsive.css')

        for page, key in public._data
            if(current.source == key)
                for css in page.url_style
                    if(css.src != undefined)
                        link(type="text/css", rel="stylesheet", href="#{css.src}")

    body
        //BEGIN PAGE LOADER
        .body-wrapper
            // MENU MOBILE BACKGROUND
            .wrapper-menu-mobile-background
            // MENU MOBILE
            .wrapper-menu-mobile
                != partial("_includes/header/menu-mobile")

            // WRAPPER CONTENT
            .wrapper-content
                // HEADER
                header
                    if (current.source == 'index')
                        != partial("_includes/header/header")
                    else if (current.source == 'homepage-2')
                        != partial("_includes/header/header-2")
                    else if (current.source == 'homepage-3')
                        != partial("_includes/header/header-3")
                    else if (current.source == '404')
                        // NULL
                    else
                        != partial("_includes/header/header")
                    

                // WRAPPER
                #wrapper-content
                    // MAIN CONTENT
                    .main-contents
                        != yield

                // FOOTER
                footer
                    if (current.source == '404')
                        // NULL
                    else
                        != partial("_includes/footer/footer")

                // BUTTON BACK TO TOP
                //- .btn-wrapper.back-to-top
                //-     a.btn.btn-transparent(href="#top")
                //-         i.fa.fa-angle-double-up

        // LIBRARY JS
        script(src="assets/libs/jquery/jquery-2.2.3.min.js")
        script(src="assets/libs/bootstrap/js/bootstrap.min.js")
        script(src="assets/libs/smooth-scroll/jquery-smoothscroll.js")
        script(src="assets/libs/slick-slider/slick.min.js")
        script(src="assets/libs/wow-js/wow.min.js")

        // MAIN JS
        script(src="assets/js/main.js")  

        // LOADING SCRIPTS FOR PAGE
        for page, key in public._data
            if(current.source == key)
                for js in page.url_script
                    if(js.src != undefined)
                        script(src='#{js.src}')