section.morepage-banner-wrapper.blog-detail
    .container
        .morepage-banner
            .group-icons
                i.icons.flaticon-anchor-1
            h2.title Blog with sidebar
            ol.breadcrumb
                li
                    a.link(href='index.html') Home
                li
                    a.link(href='blog.html') blog
                li.active
                    a.link(href='#') Blog Detail
section.page-main.padding-top-100.padding-bottom-100
    .container
        .row
            .col-md-8.col-xs-12.main-left.blog-detail-wrapper
                .blog-post
                    .blog-image
                        img.img-responsive(src="assets/images/news/news-7.jpg", alt="")
                    .blog-content
                        .blog-detail-content
                            .dates
                                .day 27
                                .month-year Aug-2016
                            .content
                                a(href="#").title A deliciously noble catch of the day in Montparnasse
                                .info
                                    .item.tag
                                        a.link(href="#") Food
                                        a.link(href="#") Recipes
                                    .item.date 
                                        i.fa.fa-calendar-o
                                        span 08 - 27 - 2016
                                    .item.comments
                                        i.fa.fa-comments-o
                                        span 26
                                .description
                                    p.text Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus id elit non mi porta gravida.
                                    p.text Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean lacinia bibendum nulla sed contur.Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id elit non mi porta at eget metus. Vestibulum id ligula porta felis euismod semper.
                                    blockquote
                                        .blockquote-title Video courses to build new skills from start to finish.
                                        .blockquote-des Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit. Mea cu case ludus integre.
                                    p.text Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean lacinia bibendum nulla sed tur.Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue consectetur purus sit amet fermentum.
                                    .video-thumnail-wrap
                                        .video-thumbnail
                                            .video-bg
                                                img.img-responsive(src="assets/images/news/news-5.jpg", alt="")
                                            .video-button-play 
                                                i.icons.fa.fa-play
                                            .video-button-close
                                            iframe.video-embed(src="https://www.youtube.com/embed/osoIQVqx8DU?rel=0" allowfullscreen)
                                        .caption Aenean lacinia bibendum nulla sed tur crard
                                    p.text Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean lacinia bibendum nulla sed tur.Cras mattis consectetur purus sit amet fermentum. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean lacinia bibendum nulla sed tur.Cras mattis consectetur purus sit amet fermentum. 
                                    ul.blog-detail-list
                                        li Phasellus tincidunt, quam ac hendrerit molestie.
                                        li Etiam nulla lectus, dictum ut lobortis a, blandit sed nisi.
                                        li Integer in purus et lectus accumsan tempor ac nec nulla.
                                        li Vivamus varius erat justo, in vestibulum ipsum rutrum tristique.
                                        li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    .tags
                                        .title tags
                                        ul.list-inline.list-tag
                                            li
                                                a(href="#").name Design
                                            li
                                                a(href="#").name Recipes
                                            li
                                                a(href="#").name Event
                                            li
                                                a(href="#").name Sea food
                    .blog-author.media.margin-top-50
                        .media-left
                            a.media-image.thumb(href="#")
                                img.img-responsive(src="assets/images/more-image/people-5.jpg", alt="")
                        .media-right
                            span.author Valeria
                            span.bem /
                            span.position Author
                            p.des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euimod odio.
                    .blog-comment.margin-top-70
                        .main-title-2
                            .icons //
                            h2.title 27 Comments
                        ul.comment-list.list-unstyled 
                            li.parent
                                .comment-item
                                    .comment-left
                                        a.media-image(href="#")
                                            img.img-responsive(src="assets/images/more-image/people-6.jpg", alt="")
                                    .comment-right
                                        .pull-left
                                            .author Alexander Ly
                                        .pull-right.time
                                            i.fa.fa-clock-o 
                                            span 5 hours ago
                                        .des Donec faucibus iaculis nulla a consectetur. Nam sit amet tempor sapien, eu pellentesque justo. Morbi mattam et tempor sapien, eu pellentesque justo orbi mattis masa sed est eleifend.
                                        a(href="#comment-form").btn-crystal.btn
                                            i.fa.fa-reply 
                                            | Reply
                                        .clearfix
                                ul.comment-list-children.list-unstyled
                                    li.child
                                        .comment-item
                                            .comment-left
                                                a.media-image(href="#")
                                                    img.img-responsive(src="assets/images/more-image/people-7.jpg", alt="")
                                            .comment-right
                                                .pull-left
                                                    .author Tristan Jame
                                                .pull-right.time
                                                    i.fa.fa-clock-o 
                                                    span 6 hours ago
                                                .des Donec faucibus iaculis nulla a consectetur. Nam sitsapien, eu pellentesque justo. Morbi mattam et tempor sapien, eu pellentesque justo orbi mattis masa sed est eleifend.
                                                a(href="#comment-form").btn-crystal.btn
                                                    i.fa.fa-reply 
                                                    | Reply
                                                .clearfix
                            li.parent
                                .comment-item
                                    .comment-left
                                        a.media-image(href="#")
                                            img.img-responsive(src="assets/images/more-image/people-8.jpg", alt="")
                                    .comment-right
                                        .pull-left
                                            .author Kim D.Monkey
                                        .pull-right.time
                                            i.fa.fa-clock-o 
                                            span 8 hours ago
                                        .des Donec faucibus iaculis nulla a consectetur. Nam sit amet tempor sapien, eu pellentesque justo. Morbi mattam et tempor sapien, eu pellentesque justo orbi mattis masa sed est eleifend.
                                        a(href="#comment-form").btn-crystal.btn
                                            i.fa.fa-reply 
                                            | Reply
                                        .clearfix
                    .leave-comment.margin-top-50
                        .main-title-2
                            .icons //
                            h2.title Leave your comment
                        form.comment-form#comment-form
                            .col-50
                                input.form-control(type="text", placeholder="Your Name")
                                input.form-control(type="email", placeholder="Your Email")
                            .col-50
                                textarea.form-control.form-textarea( placeholder="Your Message")
                            .clearfix
                            button.btn-submit(type="submit" data-hover="SEND NOW")
                                span.text Submit Message
                                span.icons.fa.fa-long-arrow-right   
            .col-md-4.col-xs-12.sidebar
                .col-2
                    != partial("_includes/widgets/search-widget")
                .col-2
                    .col-1
                        != partial("_includes/widgets/recent-post-widget")
                    .col-1
                        != partial("_includes/widgets/categories-widget")
                        != partial("_includes/widgets/tags-widget")
                .col-2
                    .col-1
                        != partial("_includes/widgets/archives-widget")
                    .col-1
                        != partial("_includes/widgets/gallery-widget")
                        != partial("_includes/widgets/social-widget")
!= partial("_includes/subscribe-email")