section.morepage-banner-wrapper.contact
    .container
        .morepage-banner
            .group-icons
                i.icons.flaticon-anchor-1
            h2.title contact us
            ol.breadcrumb
                li
                    a.link(href='index.html') Home
                li.active
                    a.link(href='#') contact us
section.page-main.padding-top-100.padding-bottom-100
    .container
        .main-title-2
            .icons //
            h2.title we are here for you
        .main-content
            .row.contact-info
                .col-sm-4.col-xs-12
                    .contact-info-item
                        i.icons.flaticon-clock
                        p.title Open Time
                        p.text Monday - Friday : 8:30AM - 5:30PM
                        p.text Saturday -Sunday : 09:00AM - 01:00PM
                .col-sm-4.col-xs-12
                    .contact-info-item
                        i.icons.flaticon-shop
                        p.title Our Address
                        p.text Gamba Restaurant, 3 The Boulevarde, Strathfield NSW 2135, australia
                .col-sm-4.col-xs-12
                    .contact-info-item
                        i.icons.flaticon-people
                        p.title Support
                        p.text Phone:  (+36) 468-245-891
                        p.text Email:  hello@gamba.com
section.contact-form-wrapper.padding-top-100.padding-bottom-100
    .container
        .main-title-2
            .icons //
            h2.title get in touch today
        .main-content
            form.contact-form#contactForm(novalidate)
                .row
                    .col-sm-4
                        .form-group
                            input.form-control#name(type="text", placeholder="Your Name", onfocus="this.placeholder = ''", required data-validation-required-message="Please enter your name.")
                            p.help-block.text-danger
                    .col-sm-4
                        .form-group
                            input.form-control#email(type="email", placeholder="Your Email", onfocus="this.placeholder = ''", required data-validation-required-message="Please enter your email address.")
                            p.help-block.text-danger
                    .col-sm-4 
                        .form-group
                            input.form-control#phone(type="text", placeholder="Your Phone", onfocus="this.placeholder = ''", required data-validation-required-message="Please enter your phone number.")
                            p.help-block.text-danger
                .row
                    .col-sm-12
                        .form-group
                            textarea.form-control.form-textarea#message( placeholder="Your Message", onfocus="this.placeholder = ''", required data-validation-required-message="Please enter a message.")
                            p.help-block.text-danger
                #success.margin-top-50
                button.btn.btn-maincolor(type="submit") Send Message 
        .bg-images-pc
            img.img-responsive(src="assets/images/more-image/chef-4.png", alt="")
.contact-map
    #googleMap