section.morepage-banner-wrapper.event
    .container
        .morepage-banner
            .group-icons
                i.icons.flaticon-anchor-1
            h2.title event list
            ol.breadcrumb
                li
                    a.link(href='index.html') Home
                li.active
                    a.link(href='#') event
section.page-main.padding-top-100.padding-bottom-100
    .container
        .event-wrapper
            .main-event.padding-top-100.padding-bottom-100
                .coming-soon-event-wrapper.white
                    .infomation
                        h4.title Bring Sea On The Table
                        p.date Tuesday 15/12/15, 6:00 am
                    .coming-soon-count.countdown
                        canvas#timer.count-container
                        .count-wrapper
                            .time.days
                                span.count#days
                            .time-label days
                        .count-wrapper
                            .time.hours
                                span.count#hours
                            .time-label hours
                        .count-wrapper
                            .time.minutes
                                span.count#minutes
                            .time-label mins
                        .clearfix
                    a.btn.btn-maincolor(href="") Join This Event
            .more-event.padding-top-100
                .main-title-2
                    .icons //
                    h2.title Check out our best events
                .coming-soon-wrapper
                    .left-infomation
                        .logo-bg.style-2
                    .right-infomation
                        .coming-soon-event-wrapper
                            .main-content
                                .infomation
                                    h4.title Special Restaurant Week
                                    p.date Tuesday 15/12/15, 6:00 am
                                    p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci di dunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet
                                .coming-soon-count.countdown
                                    canvas#timer2.count-container
                                    .count-wrapper
                                        .time.days
                                            span.count#days2
                                        .time-label days
                                    .count-wrapper
                                        .time.hours
                                            span.count#hours2
                                        .time-label hours
                                    .count-wrapper
                                        .time.minutes
                                            span.count#minutes2
                                        .time-label mins
                                    .clearfix
                                a.btn.btn-maincolor(href="") Join This Event
                .coming-soon-wrapper.margin-top-70
                    .right-infomation
                        .coming-soon-event-wrapper
                            .main-content
                                .infomation
                                    h4.title Special Restaurant Week
                                    p.date Tuesday 15/12/15, 6:00 am
                                    p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci di dunt ut labore et dolore magna aliqua lorem ipsum dolor sit amet
                                .coming-soon-count.countdown
                                    canvas#timer3.count-container
                                    .count-wrapper
                                        .time.days
                                            span.count#days3
                                        .time-label days
                                    .count-wrapper
                                        .time.hours
                                            span.count#hours3
                                        .time-label hours
                                    .count-wrapper
                                        .time.minutes
                                            span.count#minutes3
                                        .time-label mins
                                    .clearfix
                                a.btn.btn-maincolor(href="") Join This Event
                    .left-infomation
                        .logo-bg.style-3
!= partial("_includes/subscribe-email")
