section.homepage-banner.homepage-default
    .container
        .homepage-banner-warpper
            .homepage-banner-content
<<<<<<< HEAD
                .group-title.wow.fadeInRight(data-wow-delay="0.5s")
                    h1.title WELCOME TO GAMBA RESTAURANT
                    p.text The Seafood Restaurant has been voted by locals as "Best in the area" year after year. We actively seek out the freshest in regional seafood and produce our restaurant is expanding.
                .group-open-hours.wow.fadeInRight(data-wow-delay="1s")
=======
                .group-title
                    h1.title WELCOME TO GAMBA RESTAURANT
                    p.text The Seafood Restaurant has been voted by locals as "Best in the area" year after year. We actively seek out the freshest in regional seafood and produce our restaurant is expanding.
                .group-open-hours
>>>>>>> 2a86b2ac4c99a99fd019468b99bf001827e8a7ac
                    h5.title open hours
                    .time-1
                        .day Monday - Friday :
                        .time 07:30 am - 11:00 pm
                    .time-2
                        .day Saturday - Sunday :
                        .time 08:30 am - 12:00 pm
<<<<<<< HEAD
                .group-btn.wow.fadeInUp(data-wow-delay="1.8s")
                    a.btn.btn-left.btn-maincolor(href="#") Resever Now 
                    a.btn.btn-right.btn-transparent(href="#")  purchase now
!= partial("_includes/about-us-1")
!= partial("_includes/special-menu-1")
!= partial("_includes/menu-of-day-1")
!= partial("_includes/banner-1")
!= partial("_includes/new-of-day")
!= partial("_includes/book-table-1")
=======
                .group-btn
                    a.btn.btn-left.btn-maincolor(href="#") Resever Now 
                    a.btn.btn-right.btn-transparent(href="#")  purchase now
section(style="height: 2000px")
>>>>>>> 2a86b2ac4c99a99fd019468b99bf001827e8a7ac
