section.morepage-banner-wrapper.reservation
    .container
        .morepage-banner
            .group-icons
                i.icons.flaticon-anchor-1
            h2.title reservation
            ol.breadcrumb
                li
                    a.link(href='index.html') Home
                li.active
                    a.link(href='#') reservation
section.book-table.style-4.padding-top-100.padding-bottom-100
    .container
        .main-title-2
            .icons //
            h2.title MAKE ONLINE RESERVATION
            h5.subtitle POWERED BY OPENTABLE
        .main-content
            != partial("_includes/book-table")
            .more-infomation.margin-top-70
                .row
                    .col-sm-6
                        h3.title-info Reserve By Phone
                        p.text We take reservations for lunch and dinner. To make a reservation, please call us at (027) 8338 145 between 10am-6pm, Monday to Friday.
                        p.text We do not book the bar area – we leave this for walk-in guests to ensure that we always offer some tables for those who have not booked.
                    .col-sm-6
                        h3.title-info Private Dinner & Event
                        p.text Whatever your event or celebration, we are here to make your special day a truly memorable one. Gamba’s private dining experts are more than happy.
                        p.text Chef Moise during the course of their meal. For parties of 8-12 we have the roastery table which is available for private hire.
            .bg-images-pc
                img.img-responsive(src="assets/images/more-image/item-clam.png", alt="")
section.banner.taste-of-fresh-wrapper.padding-top-100.padding-bottom-100
    .container
        .taste-of-fresh
            h2.title
                .name-1 taste 
                .name-2 of
                .name-3 fresh
            p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci di dunt ut labore et dolore magna aliqua. Ut enim ad minim reprehenderit veniam. Excepteur sint occaecat cupidatat non proident
            a.btn.btn-maincolor(href="#") Purchase Now
!= partial("_includes/coming-soon-2")
!= partial("_includes/subscribe-email")