section.morepage-banner-wrapper.menu-gird
    .container
        .morepage-banner
            .group-icons
                i.icons.flaticon-anchor-1
            h2.title The Menu Grid 01
            ol.breadcrumb
                li
                    a.link(href='index.html') Home
                li.active
                    a.link(href='#') Menu
section.main-menu.padding-top-100.padding-bottom-100
    .container
        .main-title-2
            .icons //
            h2.title main menu
        .main-content
            .tab-main-menu
                .name
                    img.img-responsive.image-1(src="assets/images/seafood/tab-fish-2.png", alt="")
                    img.img-responsive.image-2(src="assets/images/seafood/tab-fish-3.png", alt="")
                    span.text fish Dishs
                .name
                    img.img-responsive.image-1(src="assets/images/seafood/tab-crawfish-2.png", alt="")
                    img.img-responsive.image-2(src="assets/images/seafood/tab-crawfish-3.png", alt="")
                    span.text Lobster Dishs
                .name
                    img.img-responsive.image-1(src="assets/images/seafood/tab-kingcrab-2.png", alt="")
                    img.img-responsive.image-2(src="assets/images/seafood/tab-kingcrab-3.png", alt="")
                    span.text Crab Dishs
                .name
                    img.img-responsive.image-1(src="assets/images/seafood/tab-shrimp-2.png", alt="")
                    img.img-responsive.image-2(src="assets/images/seafood/tab-shrimp-3.png", alt="")
                    span.text Shirmp Dishs
                .name
                    img.img-responsive.image-1(src="assets/images/seafood/tab-clamp-2.png", alt="")
                    img.img-responsive.image-2(src="assets/images/seafood/tab-clamp-3.png", alt="")
                    span.text Clamp Dishs
                .name
                    img.img-responsive.image-1(src="assets/images/seafood/tab-cuttle-2.png", alt="")
                    img.img-responsive.image-2(src="assets/images/seafood/tab-cuttle-3.png", alt="")
                    span.text Squid Dishs
            .content-menu
                .tab-pane
                    != partial("_includes/list-menu/list-menu-4")
                .tab-pane
                    != partial("_includes/list-menu/list-menu-4-b")
                .tab-pane
                    != partial("_includes/list-menu/list-menu-4-d")
                .tab-pane
                    != partial("_includes/list-menu/list-menu-4-b")
                .tab-pane
                    != partial("_includes/list-menu/list-menu-4-c")
                .tab-pane
                    != partial("_includes/list-menu/list-menu-4")
section.banner.banner-deserts.padding-top-100.padding-bottom-100
    .container
        .main-title-2.white.no-margin
            .icons //
            h2.title deserts
.sub-menu.padding-top-100.padding-bottom-100
    .container
        .row
            .col-sm-6
                .menu-items.style-3
                    a.item-image(href="#")
                        img.img-responsive(src="assets/images/menu/small-menu-8.jpg", alt="")
                    .item-content
                        a.title(href="#")
                            .name Chicken Doro Wat
                            .price
                                sup $
                                span 54.00
                        .desciption Lorem ipsum dolor sit a met, consec tetur.
            .col-sm-6
                .menu-items.style-3
                    a.item-image(href="#")
                        img.img-responsive(src="assets/images/menu/small-menu-1.jpg", alt="")
                    .item-content
                        a.title(href="#")
                            .name Kung pao pastrami
                            .price
                                sup $
                                span 65.00
                        .desciption Lorem ipsum dolor sit a met, consec tetur.
            .col-sm-6
                .menu-items.style-3
                    a.item-image(href="#")
                        img.img-responsive(src="assets/images/menu/small-menu-3.jpg", alt="")
                    .item-content
                        a.title(href="#")
                            .name Masala Spiced Chickpeas
                            .price
                                sup $
                                span 73.00
                        .desciption Lorem ipsum dolor sit a met, consec tetur.
            .col-sm-6
                .menu-items.style-3
                    a.item-image(href="#")
                        img.img-responsive(src="assets/images/menu/small-menu-6.jpg", alt="")
                    .item-content
                        a.title(href="#")
                            .name Annalisa Tomato
                            .price
                                sup $
                                span 38.00
                        .desciption Lorem ipsum dolor sit a met, consec tetur.
            .col-sm-6
                .menu-items.style-3
                    a.item-image(href="#")
                        img.img-responsive(src="assets/images/menu/small-menu-7.jpg", alt="")
                    .item-content
                        a.title(href="#")
                            .name Crab & Tarracon Tart
                            .price
                                sup $
                                span 49.00
                        .desciption Lorem ipsum dolor sit a met, consec tetur.
            .col-sm-6
                .menu-items.style-3
                    a.item-image(href="#")
                        img.img-responsive(src="assets/images/menu/small-menu-5.jpg", alt="")
                    .item-content
                        a.title(href="#")
                            .name Jalapeno Mango Salsa
                            .price
                                sup $
                                span 68.00
                        .desciption Lorem ipsum dolor sit a met, consec tetur.
            .col-sm-6
                .menu-items.style-3
                    a.item-image(href="#")
                        img.img-responsive(src="assets/images/menu/small-menu-11.jpg", alt="")
                    .item-content
                        a.title(href="#")
                            .name West Coast Rock Oysters
                            .price
                                sup $
                                span 49.00
                        .desciption Lorem ipsum dolor sit a met, consec tetur.
            .col-sm-6
                .menu-items.style-3
                    a.item-image(href="#")
                        img.img-responsive(src="assets/images/menu/small-menu-4.jpg", alt="")
                    .item-content
                        a.title(href="#")
                            .name mexico Mango Salas
                            .price
                                sup $
                                span 68.00
                        .desciption Lorem ipsum dolor sit a met, consec tetur.
section.banner.banner-drinks.padding-top-100.padding-bottom-100
    .container
        .main-title-2.white.no-margin
            .icons //
            h2.title drinks
.sub-menu.padding-top-100.padding-bottom-100
    .container
        .row
            .col-sm-6
                .menu-items.style-3
                    a.item-image(href="#")
                        img.img-responsive(src="assets/images/menu/small-menu-12.jpg", alt="")
                    .item-content
                        a.title(href="#")
                            .name Chicken Doro Wat
                            .price
                                sup $
                                span 54.00
                        .desciption Lorem ipsum dolor sit a met, consec tetur.
            .col-sm-6
                .menu-items.style-3
                    a.item-image(href="#")
                        img.img-responsive(src="assets/images/menu/small-menu-2.jpg", alt="")
                    .item-content
                        a.title(href="#")
                            .name Kung pao pastrami
                            .price
                                sup $
                                span 65.00
                        .desciption Lorem ipsum dolor sit a met, consec tetur.
            .col-sm-6
                .menu-items.style-3
                    a.item-image(href="#")
                        img.img-responsive(src="assets/images/menu/small-menu-10.jpg", alt="")
                    .item-content
                        a.title(href="#")
                            .name Masala Spiced Chickpeas
                            .price
                                sup $
                                span 73.00
                        .desciption Lorem ipsum dolor sit a met, consec tetur.
            .col-sm-6
                .menu-items.style-3
                    a.item-image(href="#")
                        img.img-responsive(src="assets/images/menu/small-menu-9.jpg", alt="")
                    .item-content
                        a.title(href="#")
                            .name Annalisa Tomato
                            .price
                                sup $
                                span 38.00
                        .desciption Lorem ipsum dolor sit a met, consec tetur.
            .col-sm-6
                .menu-items.style-3
                    a.item-image(href="#")
                        img.img-responsive(src="assets/images/menu/small-menu-11.jpg", alt="")
                    .item-content
                        a.title(href="#")
                            .name Crab & Tarracon Tart
                            .price
                                sup $
                                span 49.00
                        .desciption Lorem ipsum dolor sit a met, consec tetur.
            .col-sm-6
                .menu-items.style-3
                    a.item-image(href="#")
                        img.img-responsive(src="assets/images/menu/small-menu-6.jpg", alt="")
                    .item-content
                        a.title(href="#")
                            .name Jalapeno Mango Salsa
                            .price
                                sup $
                                span 68.00
                        .desciption Lorem ipsum dolor sit a met, consec tetur.
            .col-sm-6
                .menu-items.style-3
                    a.item-image(href="#")
                        img.img-responsive(src="assets/images/menu/small-menu-4.jpg", alt="")
                    .item-content
                        a.title(href="#")
                            .name West Coast Rock Oysters
                            .price
                                sup $
                                span 49.00
                        .desciption Lorem ipsum dolor sit a met, consec tetur.
            .col-sm-6
                .menu-items.style-3
                    a.item-image(href="#")
                        img.img-responsive(src="assets/images/menu/small-menu-7.jpg", alt="")
                    .item-content
                        a.title(href="#")
                            .name mexico Mango Salas
                            .price
                                sup $
                                span 68.00
                        .desciption Lorem ipsum dolor sit a met, consec tetur.
!= partial("_includes/subscribe-email")