.row
    .col-md-6
        .menu-items.style-2
            .item-content
                a.title(href="#")
                    .name Masala Spiced Chickpeas
                    .price
                        sup $
                        span 73.00
                .desciption Lorem ipsum dolor sit a met, consec teturie adipisi cing elitse dorem
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/menu-5.jpg", alt="")
    .col-md-6
        .menu-items.style-2
            .item-content
                a.title(href="#")
                    .name Crab & Tarracon Tart
                    .price
                        sup $
                        span 38.00
                .desciption Lorem ipsum dolor sit a met, consec teturie adipisi cing elitse dorem
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/menu-6.jpg", alt="")
    .col-md-6
        .menu-items.style-2
            .item-content
                a.title(href="#")
                    .name hambuger crawfish
                    .price
                        sup $
                        span 38.00
                .desciption Lorem ipsum dolor sit a met, consec teturie adipisi cing elitse dorem
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/menu-7.jpg", alt="")
    .col-md-6
        .menu-items.style-2
            .item-content
                a.title(href="#")
                    .name Kung pao pastrami
                    .price
                        sup $
                        span 55.00
                .desciption Lorem ipsum dolor sit a met, consec teturie adipisi cing elitse dorem
            a.item-image(href="#")
                img.img-responsive(src="assets/images/menu/menu-8.jpg", alt="")
!= partial("../widgets/pagination")
